<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/src/main/resources/static/assets/css/header.css" />
    <link rel="stylesheet" href="/src/main/resources/static/assets/css/footer.css" />
    <link rel="stylesheet" href="/src/main/resources/static/assets/css/pickitupStore.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
</head>
<body style="font-family: Noto Sans KR;">
      <!--헤더  -->
   
    <section class="header-wrap">
        <header class="header">
            <div class="header1">
                <div class="header2">
                    <div class="header3">
                        <a href="#">
                            <div class="logo-wrap" >
                                <span class="logo-font">pickitup</span>
                            </div>
                        </a>
                        <div class="empty-space" ></div>
                        <div class="menu-search-wrap" >
                            <div class="menu-wrap" >
                                <a href="#" style="text-decoration-line: none;">
                                    <h4 class="menu-plogging" >플로깅</h4>
                                </a>
                                <div class="menu-space"></div>
                                <a href="#" style="text-decoration-line: none;">
                                    <h4 class="menu-store">스토어</h4>
                                </a>
                            </div>
                            <div class="empty-space" ></div>
                            <div class="search-box" >
                                <div class="search-box1" >
                                    <div class="search-box2" >
                                        <div class="search-box3" >
                                            <div class="search-box4" >
                                                <div class="search-text-icon" >
                                                    <input type="text" class="search-text" placeholder="찾으시는 플로깅이 있으신가요?"></input>
                                                    <span class="search-icon" >
                                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="css-skwyyj">
                                                            <path d="m22.925 21.16-5.605-5.605A8.453 8.453 0 0 0 19 10.5 8.5 8.5 0 0 0 10.5 2 8.5 8.5 0 0 0 2 10.5a8.5 8.5 0 0 0 8.5 8.5c1.895 0 3.64-.63 5.055-1.68l5.605 5.605c.1.1.255.1.355 0l1.415-1.415a.246.246 0 0 0-.005-.35ZM4.5 10.5c0-3.31 2.69-6 6-6s6 2.69 6 6-2.69 6-6 6-6-2.69-6-6Z" class="css-sy7xp0">
                                                            </path>
                                                        </svg>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="header-right-menu-wrap">
                            <div class="header-right-menu-wrap1" >
                                <div class="header-right-menu-wrap2" >
                                    <div class="header-right-menu-wrap3">
                                    <a href="#" style="text-decoration-line: none;">
                                        <p class = "myplogging">마이 플로깅</p>
                                    </a>
                                        <div class="empty-space1"></div>
                                    <a href="#" style="text-decoration-line: none;">
                                        <p class = "loginout">로그인</p>
                                    </a>
                                        <div class="empty-space1"></div>
                                    <a href="#" style="text-decoration-line: none;">
                                        <p class = "loginout">찜목록</p>
                                    </a>
                                        <div class="empty-space1"></div>
                                        <div class="empty-space1"></div>
                                        <div class="empty-space1"></div>
                                        <div class="profile">
                                            <div class="profile-img-wrap">
                                                <div class="profile-img">
                                                    <div class="profile-img1">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
    </section>
       <!--헤더 -->
    <div class="item_choose_main">
        <div class="item_select">
            <div class="space"></div>
            <div class="item_title" style="font-weight:700; font-size: 25px;">구성품 선택하기</div>
            <div class="space"></div>
            <div class="flex">
                <div class="item_img"><img src="/src/main/resources/static/images/5.jpg"></div>
                <div>
                    <div class="small_and_gray" style="font-size: 10px;">필수옵션 01</div>
                    <div class="item_detail">스키장갑으로 안성맞춤인 초록색 고무고무</div>
                </div>
            </div>
            <div class="space"></div>
            <div class="item_amount flex" style="display: flex; position: relative; justify-content: center;">
                <button type="button" class="amount_btn minus" style="left: 2%;">-</button>
                <input class="item_amount_input" type="text" value="1" placeholder="1" readonly>
                <button type="button" class="amount_btn plus" style="right: 2%;">+</button>
            </div>
            <div class="space_line"></div>
        </div>
        <div>
            <!-- 결제하기 html로 쏴주기 -->
            <form action=""> 
                <div class="flex" style="justify-content: space-between;">
                    <div>총 포인트</div>
                    <div class="pay_point flex"> <p class="total_price"></p>P</div>
                    <input name="total_items" type="hidden">
                    <input name="total_payment" type="hidden">
                </div>
                <div style="width: 100%;"> <button class="toBuy goPayment" type="submit" >결제 하기 </button></div>
            </form>
        </div>
    </div>
    <button type="button" class="toTop">TOP</button>
    <footer class="footer-wrap">
        <div class="footer-wrapper">
            <div class="footer-menu-wrap">
                <div class="footer-menu1-wrap">
                    <div class="footer-logo">
                        pickitup
                    </div>
                    <div class="footer-msg1">
                        pickitup은 모든 사람이 사랑하는 일을 하며
                        <br>
                        살 수 있도록 세상을 바꾸고자 합니다.
                    </div>
                    <div class="footer-language-wrap">
                        <div class="footer-language">
                            <button class="footer-language1">
                            <span class="footer-language2">
                                <p class="footer-language3">kr 한국어</p>
                            </span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="footer-menu2-wrap">
                    <div class="footer-menu2-text">
                        pickitup
                    </div>
                    <a href="#" class="footer-link1">
                        <div class="footer-link1-text1">
                            홈
                        </div>
                    </a>
                    <a href="#" class="footer-link1">
                        <div class="footer-link1-text1">
                            기업교육
                        </div>
                    </a>
                    <a href="#" class="footer-link1">
                        <div class="footer-link1-text1">
                            채용
                        </div>
                    </a>
                    <a href="#" class="footer-link1">
                        <div class="footer-link1-text1">
                            도움말
                        </div>
                    </a>
    
                </div>
                <div class="footer-menu2-wrap">
                    <div class="footer-menu2-text">
                        크리에이터 센터
                    </div>
                    <a href="#" class="footer-link1">
                        <div class="footer-link1-text1">
                            크리에이터 센터
                        </div>
                    </a>
                    <a href="#" class="footer-link1">
                        <div class="footer-link1-text1">
                            정규 클래스 지원하기
                        </div>
                    </a>
                    <a href="#" class="footer-link1">
                        <div class="footer-link1-text1">
                            도움말
                        </div>
                    </a>
                </div>
                <div class="footer-menu2-wrap">
                    <div class="footer-menu3-text">
                        고객센터
                    </div>
                    <div class="footer-media-menu3-text">
                        오전 10시 ~ 오후 6시 (주말, 공휴일 제외)
                    </div>
                    <div class="footer-menu3-wrap">
                        <button type="button" class="footer-center-button">
                            <span class="footer-center-text">문의하기</span>
                        </button>
                        <div>
                        <div class="footer-center-text1">
                            오전 10시 ~ 오후 6시 (주말, 공휴일 제외)
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>
<script src="https://code.jquery.com/jquery-3.5.0.js"></script>
<script src="/src/main/resources/static/assets/js/store.js"></script>

<script>
     //scroll top
     $('.toTop').click(function(){
        $('html, body').animate({scrollTop : 0},300);
    });

    //수량및  아이템 가격 초기화
    let $oper = $('.item_amount').find('button');
    let $amount = 1;
    let $item_price = 700;
    $('.total_price').text($amount*$item_price);  //700 대신 상품 가격입력
    $('input[name="total_items"]').val($amount);
    $('input[name="total_payment"]').val($amount*$item_price);

    //+,- 수량 버튼 클릭시 총 포인트 계산 및  input에 넣어서 넘길준비
    $oper.click(function(){
        if($(this).hasClass('minus')){
            if( $('.item_amount_input').attr("value") > 1){
                $('.item_amount_input').attr("value",$amount-1);
                $amount=$amount-1
                $('.total_price').empty().text($amount*$item_price);
                $('input[name="total_items"]').val($amount);
                $('input[name="total_payment"]').val($amount*$item_price);
            }
        }else if($(this).hasClass('plus')){
            $('.item_amount_input').attr("value",$amount+1);
            $amount=$amount+1
            $('.total_price').empty().text($amount*$item_price);
            $('input[name="total_items"]').val($amount);
            $('input[name="total_payment"]').val($amount*$item_price);
        }
    })

</script>


</html>