<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/src/main/resources/static/assets/css/header.css" />
    <link rel="stylesheet" href="/src/main/resources/static/assets/css/footer.css" />
    <link rel="stylesheet" href="/src/main/resources/static/assets/css/pickitupStore.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
</head>
<body>

     <!--헤더  -->
   
<section class="header-wrap">
    <header class="header">
        <div class="header1">
            <div class="header2">
                <div class="header3">
                    <a href="#">
                        <div class="logo-wrap" >
                            <span class="logo-font">pickitup</span>
                        </div>
                    </a>
                    <div class="empty-space" ></div>
                    <div class="menu-search-wrap" >
                        <div class="menu-wrap" >
                            <a href="#" style="text-decoration-line: none;">
                                <h4 class="menu-plogging" >플로깅</h4>
                            </a>
                            <div class="menu-space"></div>
                            <a href="#" style="text-decoration-line: none;">
                                <h4 class="menu-store">스토어</h4>
                            </a>
                        </div>
                        <div class="empty-space" ></div>
                        <div class="search-box" >
                            <div class="search-box1" >
                                <div class="search-box2" >
                                    <div class="search-box3" >
                                        <div class="search-box4" >
                                            <div class="search-text-icon" >
                                                <input type="text" class="search-text" placeholder="찾으시는 플로깅이 있으신가요?"></input>
                                                <span class="search-icon" >
                                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="css-skwyyj">
                                                        <path d="m22.925 21.16-5.605-5.605A8.453 8.453 0 0 0 19 10.5 8.5 8.5 0 0 0 10.5 2 8.5 8.5 0 0 0 2 10.5a8.5 8.5 0 0 0 8.5 8.5c1.895 0 3.64-.63 5.055-1.68l5.605 5.605c.1.1.255.1.355 0l1.415-1.415a.246.246 0 0 0-.005-.35ZM4.5 10.5c0-3.31 2.69-6 6-6s6 2.69 6 6-2.69 6-6 6-6-2.69-6-6Z" class="css-sy7xp0">
                                                        </path>
                                                    </svg>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="header-right-menu-wrap">
                        <div class="header-right-menu-wrap1" >
                            <div class="header-right-menu-wrap2" >
                                <div class="header-right-menu-wrap3">
                                <a href="#" style="text-decoration-line: none;">
                                    <p class = "myplogging">마이 플로깅</p>
                                </a>
                                    <div class="empty-space1"></div>
                                <a href="#" style="text-decoration-line: none;">
                                    <p class = "loginout">로그인</p>
                                </a>
                                    <div class="empty-space1"></div>
                                <a href="#" style="text-decoration-line: none;">
                                    <p class = "loginout">찜목록</p>
                                </a>
                                    <div class="empty-space1"></div>
                                    <div class="empty-space1"></div>
                                    <div class="empty-space1"></div>
                                    <div class="profile">
                                        <div class="profile-img-wrap">
                                            <div class="profile-img">
                                                <div class="profile-img1">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
</section>
   <!--헤더 -->

    <div class="media_store_categories">
       <input type="button" value="전체" class="categories_selected">
       <input type="button" value="생활">
       <input type="button" value="주방">
       <input type="button" value="욕실">
       <input type="button" value="반려동물">
       <input type="button" value="화장품">
       <input type="button" value="식품">
       <input type="button" value="문구">
       <input type="button" value="원예">
    </div>

    <div class="store_all_body">
        <section class="store_container">
            <div class="store_cate_items">
                <div class="store_categories">
                    <ul>
                        <li class="active"><a href="#">전체</a></li>
                        <li><a href="#">생활</a></li>
                        <li><a href="#">주방</a></li>
                        <li><a href="#">욕실</a></li>
                        <li><a href="#">반려동물</a></li>
                        <li><a href="#">화장품</a></li>
                        <li><a href="#">식품</a></li>
                        <li><a href="#">문구</a></li>
                        <li><a href="#">원예</a></li>
                    
                    </ul>
                </div>

                <!-- -----------------------------임시 데이터 --------------------------------->
                <div class="store_items">
                    <div class="onetime">
                        <h4 class="items_header">전체 상품 목록 &nbsp;</h4>
                        <p class="item_headerp">600개</p>
                    </div>
                    <div class="all_items">

                                        <!--  목록 리스트 사적 -->

                        <ul>
                            <li>
                                <div class="item">
                                    <span class="material-symbols-outlined jjim jjim-ajax">
                                        favorite
                                        </span>
                                    <a href="pickitupStoreDetail.html"><img src="/src/main/resources/static/images/1.jpg">
                                        <div>
                                            <p class="store_main_item_title">[아시아 종묘] 코코넛 화분</p>
                                        </div>
                                        <div class="flex">
                                            <div><span class="material-symbols-outlined" style="font-size: 15px;">
                                                chat_add_on
                                                </span> &nbsp;</div>
                                            <div><span class="material-symbols-outlined" style="font-size: 15px;">
                                                favorite
                                                </span></div>
                                        </div>
                                        <div style="font-weight: 700;">
                                            800P
                                        </div>
                                    </a>
                                </div>
                            </li>
                            <li>
                                <div class="item">
                                    <span class="material-symbols-outlined jjim jjim-ajax">
                                        favorite
                                        </span>
                                    <a href="pickitupStoreDetail.html"><img src="/src/main/resources/static/images/1.jpg">
                                        <div>
                                            <p class="store_main_item_title">[아시아 종묘] 코코넛 화분</p>
                                        </div>
                                        <div class="flex">
                                            <div><span class="material-symbols-outlined" style="font-size: 15px;">
                                                chat_add_on
                                                </span> &nbsp;</div>
                                            <div><span class="material-symbols-outlined" style="font-size: 15px;">
                                                favorite
                                                </span></div>
                                        </div>
                                        <div style="font-weight: 700;">
                                            800P
                                        </div>
                                    </a>
                                </div>
                            </li>
                            <li>
                                <div class="item">
                                    <span class="material-symbols-outlined jjim jjim-ajax">
                                        favorite
                                        </span>
                                    <a href="pickitupStoreDetail.html"><img src="/src/main/resources/static/images/1.jpg">
                                        <div>
                                            <p class="store_main_item_title">[아시아 종묘] 코코넛 화분</p>
                                        </div>
                                        <div class="flex">
                                            <div><span class="material-symbols-outlined" style="font-size: 15px;">
                                                chat_add_on
                                                </span> &nbsp;</div>
                                            <div><span class="material-symbols-outlined" style="font-size: 15px;">
                                                favorite
                                                </span></div>
                                        </div>
                                        <div style="font-weight: 700;">
                                            800P
                                        </div>
                                    </a>
                                </div>
                            </li>
                            <li>
                                <div class="item">
                                    <span class="material-symbols-outlined jjim jjim-ajax">
                                        favorite
                                        </span>
                                    <a href="pickitupStoreDetail.html"><img src="/src/main/resources/static/images/1.jpg">
                                        <div>
                                            <p class="store_main_item_title">[아시아 종묘] 코코넛 화분</p>
                                        </div>
                                        <div class="flex">
                                            <div><span class="material-symbols-outlined" style="font-size: 15px;">
                                                chat_add_on
                                                </span> &nbsp;</div>
                                            <div><span class="material-symbols-outlined" style="font-size: 15px;">
                                                favorite
                                                </span></div>
                                        </div>
                                        <div style="font-weight: 700;">
                                            800P
                                        </div>
                                    </a>
                                </div>
                            </li>
                            <li>
                                <div class="item">
                                    <span class="material-symbols-outlined jjim jjim-ajax">
                                        favorite
                                        </span>
                                    <a href="pickitupStoreDetail.html"><img src="/src/main/resources/static/images/1.jpg">
                                        <div>
                                            <p class="store_main_item_title">[아시아 종묘] 코코넛 화분</p>
                                        </div>
                                        <div class="flex">
                                            <div><span class="material-symbols-outlined" style="font-size: 15px;">
                                                chat_add_on
                                                </span> &nbsp;</div>
                                            <div><span class="material-symbols-outlined" style="font-size: 15px;">
                                                favorite
                                                </span></div>
                                        </div>
                                        <div style="font-weight: 700;">
                                            800P
                                        </div>
                                    </a>
                                </div>
                            </li>
                            <li>
                                <div class="item">
                                    <span class="material-symbols-outlined jjim  jjim-ajax">
                                        favorite
                                        </span>
                                    <a href="pickitupStoreDetail.html"><img src="/src/main/resources/static/images/1.jpg">
                                        <div>
                                            <p class="store_main_item_title">[아시아 종묘] 코코넛 화분</p>
                                        </div>
                                        <div class="flex">
                                            <div><span class="material-symbols-outlined" style="font-size: 15px;">
                                                chat_add_on
                                                </span> &nbsp;</div>
                                            <div><span class="material-symbols-outlined" style="font-size: 15px;">
                                                favorite
                                                </span></div>
                                        </div>
                                        <div style="font-weight: 700;">
                                            800P
                                        </div>
                                    </a>
                                </div>
                            </li>
                            <li>
                                <div class="item">
                                    <span class="material-symbols-outlined jjim jjim-ajax">
                                        favorite
                                        </span>
                                    <a href="pickitupStoreDetail.html"><img src="/src/main/resources/static/images/1.jpg">
                                        <div>
                                            <p class="store_main_item_title">[아시아 종묘] 코코넛 화분</p>
                                        </div>
                                        <div class="flex">
                                            <div><span class="material-symbols-outlined" style="font-size: 15px;">
                                                chat_add_on
                                                </span> &nbsp;</div>
                                            <div><span class="material-symbols-outlined" style="font-size: 15px;">
                                                favorite
                                                </span></div>
                                        </div>
                                        <div style="font-weight: 700;">
                                            800P
                                        </div>
                                    </a>
                                </div>
                            </li>
                            <li>
                                <div class="item">
                                    <span class="material-symbols-outlined jjim jjim-ajax">
                                        favorite
                                        </span>
                                    <a href="pickitupStoreDetail.html"><img src="/src/main/resources/static/images/1.jpg">
                                        <div>
                                            <p class="store_main_item_title">[아시아 종묘] 코코넛 화분</p>
                                        </div>
                                        <div class="flex">
                                            <div><span class="material-symbols-outlined" style="font-size: 15px;">
                                                chat_add_on
                                                </span> &nbsp;</div>
                                            <div><span class="material-symbols-outlined" style="font-size: 15px;">
                                                favorite
                                                </span></div>
                                        </div>
                                        <div style="font-weight: 700;">
                                            800P
                                        </div>
                                    </a>
                                </div>
                            </li>
                            <li>
                                <div class="item">
                                    <span class="material-symbols-outlined jjim jjim-ajax">
                                        favorite
                                        </span>
                                    <a href="pickitupStoreDetail.html"><img src="/src/main/resources/static/images/1.jpg">
                                        <div>
                                            <p class="store_main_item_title">[아시아 종묘] 코코넛 화분</p>
                                        </div>
                                        <div class="flex">
                                            <div><span class="material-symbols-outlined" style="font-size: 15px;">
                                                chat_add_on
                                                </span> &nbsp;</div>
                                            <div><span class="material-symbols-outlined" style="font-size: 15px;">
                                                favorite
                                                </span></div>
                                        </div>
                                        <div style="font-weight: 700;">
                                            800P
                                        </div>
                                    </a>
                                </div>
                            </li>
                            <li>
                                <div class="item">
                                    <span class="material-symbols-outlined jjim jjim-ajax">
                                        favorite
                                        </span>
                                    <a href="pickitupStoreDetail.html"><img src="/src/main/resources/static/images/1.jpg">
                                        <div>
                                            <p class="store_main_item_title">[아시아 종묘] 코코넛 화분</p>
                                        </div>
                                        <div class="flex">
                                            <div><span class="material-symbols-outlined" style="font-size: 15px;">
                                                chat_add_on
                                                </span> &nbsp;</div>
                                            <div><span class="material-symbols-outlined" style="font-size: 15px;">
                                                favorite
                                                </span></div>
                                        </div>
                                        <div style="font-weight: 700;">
                                            800P
                                        </div>
                                    </a>
                                </div>
                            </li>
                            <li>
                                <div class="item">
                                    <span class="material-symbols-outlined jjim jjim-ajax">
                                        favorite
                                        </span>
                                    <a href="pickitupStoreDetail.html"><img src="/src/main/resources/static/images/1.jpg">
                                        <div>
                                            <p class="store_main_item_title">[아시아 종묘] 코코넛 화분</p>
                                        </div>
                                        <div class="flex">
                                            <div><span class="material-symbols-outlined" style="font-size: 15px;">
                                                chat_add_on
                                                </span> &nbsp;</div>
                                            <div><span class="material-symbols-outlined" style="font-size: 15px;">
                                                favorite
                                                </span></div>
                                        </div>
                                        <div style="font-weight: 700;">
                                            800P
                                        </div>
                                    </a>
                                </div>
                            </li>
                            <li>
                                <div class="item">
                                    <span class="material-symbols-outlined jjim jjim-ajax">
                                        favorite
                                        </span>
                                    <a href="pickitupStoreDetail.html"><img src="/src/main/resources/static/images/1.jpg">
                                        <div>
                                            <p class="store_main_item_title">[아시아 종묘] 코코넛 화분</p>
                                        </div>
                                        <div class="flex">
                                            <div><span class="material-symbols-outlined" style="font-size: 15px;">
                                                chat_add_on
                                                </span> &nbsp;</div>
                                            <div><span class="material-symbols-outlined" style="font-size: 15px;">
                                                favorite
                                                </span></div>
                                        </div>
                                        <div style="font-weight: 700;">
                                            800P
                                        </div>
                                    </a>
                                </div>
                            </li>
                            
                        
                            
                        </ul>
                        <!--  목록 리스트 끝 -->


                    </div>
                </div>
                <div class="gototop">
                    <span class="material-symbols-outlined toTop" style="font-size: 35px;">
                        vertical_align_top
                        </span >
                </div> 
                
            </div>
        </section>
    </div>
    <!-- -----------------------------임시 데이터 --------------------------------->

    <footer class="footer-wrap">
        <div class="footer-wrapper">
            <div class="footer-menu-wrap">
                <div class="footer-menu1-wrap">
                    <div class="footer-logo">
                        pickitup
                    </div>
                    <div class="footer-msg1">
                        pickitup은 모든 사람이 사랑하는 일을 하며
                        <br>
                        살 수 있도록 세상을 바꾸고자 합니다.
                    </div>
                    <div class="footer-language-wrap">
                        <div class="footer-language">
                            <button class="footer-language1">
                            <span class="footer-language2">
                                <p class="footer-language3">kr 한국어</p>
                            </span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="footer-menu2-wrap">
                    <div class="footer-menu2-text">
                        pickitup
                    </div>
                    <a href="#" class="footer-link1">
                        <div class="footer-link1-text1">
                            홈
                        </div>
                    </a>
                    <a href="#" class="footer-link1">
                        <div class="footer-link1-text1">
                            기업교육
                        </div>
                    </a>
                    <a href="#" class="footer-link1">
                        <div class="footer-link1-text1">
                            채용
                        </div>
                    </a>
                    <a href="#" class="footer-link1">
                        <div class="footer-link1-text1">
                            도움말
                        </div>
                    </a>
    
                </div>
                <div class="footer-menu2-wrap">
                    <div class="footer-menu2-text">
                        크리에이터 센터
                    </div>
                    <a href="#" class="footer-link1">
                        <div class="footer-link1-text1">
                            크리에이터 센터
                        </div>
                    </a>
                    <a href="#" class="footer-link1">
                        <div class="footer-link1-text1">
                            정규 클래스 지원하기
                        </div>
                    </a>
                    <a href="#" class="footer-link1">
                        <div class="footer-link1-text1">
                            도움말
                        </div>
                    </a>
                </div>
                <div class="footer-menu2-wrap">
                    <div class="footer-menu3-text">
                        고객센터
                    </div>
                    <div class="footer-media-menu3-text">
                        오전 10시 ~ 오후 6시 (주말, 공휴일 제외)
                    </div>
                    <div class="footer-menu3-wrap">
                        <button type="button" class="footer-center-button">
                            <span class="footer-center-text">문의하기</span>
                        </button>
                        <div>
                        <div class="footer-center-text1">
                            오전 10시 ~ 오후 6시 (주말, 공휴일 제외)
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>
<script src="/src/main/resources/static/assets/js/store.js"></script>
<script src="https://code.jquery.com/jquery-3.5.0.js"></script>
<script>
    //scroll top
    $('.toTop').click(function(){
        $('html, body').animate({scrollTop : 0},300);
    });
    //정상웹 일때
    $('.store_categories li').click(function(){
        $('.store_categories li').removeClass('active');
        if($(this).hasClass('active')){
            $(this).removeClass('active');
        }else{
            $(this).addClass('active');
        }
    })

    //반응형 웹
    $('.media_store_categories input').click(function(){
        $('.media_store_categories input').removeClass('categories_selected');
        if($(this).hasClass('categories_selected')){
            $(this).removeClass('categories_selected');
        }else{
            $(this).addClass('categories_selected');
        }
    })

    $('jjim-ajax').click(function(){
        if($(this).hasClass("red")){
            $(this).removeClass("red");
        }else{
            $(this).addClass("red");
        }

        $.ajax({
            url : "", //찜table 연결하는곳
            type : "post",
            data : "상품데이터",
            contentType : "application/json",
            dataType : "json",
            success : function(){

            },
            error : function(xhr,status,er){
                
            }
        })
    })



</script>
</html>