<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="test.css">
</head>
<body>
    <header></header>
    <div class="store_container">
        <div class="store_container1">
            <div class="store_container2">

                <div class="store_category">
                    <div class="store_category1">
                        <div class="store_category2">
                            <div class="store_cate_detail">
                                <div class="fs">
                                    <div class="fs1">
                                        전자책
                                    </div>
                                </div>
                            </div>
                            <div class="store_cate_detail">
                                <div class="fs">
                                    <div class="fs1">
                                        디지털 파일
                                    </div>
                                </div>
                            </div>
                            <div class="store_cate_detail">
                                <div class="fs">
                                    <div class="fs1">
                                        재료와 도구
                                    </div>
                                </div>
                            </div>
                            <div class="store_cate_detail">
                                <div class="fs">
                                    <div class="fs1">
                                        굿즈
                                    </div>
                                </div>
                            </div>
                            <div class="store_cate_detail">
                                <div class="fs">
                                    <div class="fs1">
                                        키트
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="store_items"></div>

            </div>
        </div>
    </div>
    <footer></footer>
</body>
</html>