<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/src/main/resources/static/assets/css/header.css" />
    <link rel="stylesheet" href="/src/main/resources/static/assets/css/footer.css" />
    <link rel="stylesheet" href="/src/main/resources/static/assets/css/pickitupStore.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
</head>
<body style="font-family: 'Noto Sans KR'; background-color: rgb(248, 248, 249) !important;;">
    <div class="review-container"> <!--전체 컨테이너-->
        <div class="reviews-wrap"> <!--헤더 컨테이너-->
            <div class="flex review_header" > <!--header 컨테이너-->
                <div class="review-header-left"><span class="material-symbols-outlined review-header-left" style="font-weight: 700; font-size: 20px; margin-top: 5px;">
                    arrow_back_ios
                    </span>
                </div>
                <div style="width: 100%;">
                    <h5>실제 수강생 후기</h5>
                </div>
            </div>
        </div>
        <div class="space"></div>
        
        <!-- 댓글 한개 -->
        <section class="allreveiws"> <!--실제 후기 컨테이너-->
            <div class="p-24">
                <div class="flex">
                    <div><img src="/src/main/resources/static/images/5.jpg"></div>
                    <div class="review_id_and_date">
                        <div class="review_id">aangie4</div>
                        <div class="small_and_gray review_date">2022-06-09</div>
                    </div>
                </div>
                <div class="review_content_container">
                    <p class="review_content">토익 노베이스 중의 노베이스로 시작했어요.토익 노베이스 중의 노베이스로 시작했어요.
                        토익 노베이스 중의 노베이스로 시작했어요.토익 노베이스 중의 노베이스로 시작했어요.
                        토익 노베이스 중의 노베이스로 시작했어요.토익 노베이스 중의 노베이스로 시작했어요.
                        토익 노베이스 중의 노베이스로 시작했어요.토익 노베이스 중의 노베이스로 시작했어요.
                </div>
            </div>
            <div style="width: 100%; justify-content: center; display: flex;">
                <div class="border_bottom_line"></div>
            </div>
        </section>

        <!-- 댓글 한개 -->
        <section class="allreveiws"> <!--실제 후기 컨테이너-->
            <div class="p-24">
                <div class="flex">
                    <div><img src="/src/main/resources/static/images/5.jpg"></div>
                    <div class="review_id_and_date">
                        <div class="review_id">aangie4</div>
                        <div class="small_and_gray review_date">2022-06-09</div>
                    </div>
                </div>
                <div class="review_content_container">
                    <p class="review_content">토익 노베이스 중의 노베이스로 시작했어요.토익 노베이스 중의 노베이스로 시작했어요.
                        토익 노베이스 중의 노베이스로 시작했어요.토익 노베이스 중의 노베이스로 시작했어요.
                        토익 노베이스 중의 노베이스로 시작했어요.토익 노베이스 중의 노베이스로 시작했어요.
                        토익 노베이스 중의 노베이스로 시작했어요.토익 노베이스 중의 노베이스로 시작했어요.
                </div>
            </div>
            <div style="width: 100%; justify-content: center; display: flex;">
                <div class="border_bottom_line"></div>
            </div>
        </section>

        <!-- 댓글 한개 -->
        <section class="allreveiws"> <!--실제 후기 컨테이너-->
            <div class="p-24">
                <div class="flex">
                    <div><img src="/src/main/resources/static/images/5.jpg"></div>
                    <div class="review_id_and_date">
                        <div class="review_id">aangie4</div>
                        <div class="small_and_gray review_date">2022-06-09</div>
                    </div>
                </div>
                <div class="review_content_container">
                    <p class="review_content">토익 노베이스 중의 노베이스로 시작했어요.토익 노베이스 중의 노베이스로 시작했어요.
                        토익 노베이스 중의 노베이스로 시작했어요.토익 노베이스 중의 노베이스로 시작했어요.
                        토익 노베이스 중의 노베이스로 시작했어요.토익 노베이스 중의 노베이스로 시작했어요.
                        토익 노베이스 중의 노베이스로 시작했어요.토익 노베이스 중의 노베이스로 시작했어요.
                </div>
            </div>
            <div style="width: 100%; justify-content: center; display: flex;">
                <div class="border_bottom_line"></div>
            </div>
        </section>
        
    </div>



    <footer class="footer-wrap">
        <div class="footer-wrapper">
            <div class="footer-menu-wrap">
                <div class="footer-menu1-wrap">
                    <div class="footer-logo">
                        pickitup
                    </div>
                    <div class="footer-msg1">
                        pickitup은 모든 사람이 사랑하는 일을 하며
                        <br>
                        살 수 있도록 세상을 바꾸고자 합니다.
                    </div>
                    <div class="footer-language-wrap">
                        <div class="footer-language">
                            <button class="footer-language1">
                            <span class="footer-language2">
                                <p class="footer-language3">kr 한국어</p>
                            </span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="footer-menu2-wrap">
                    <div class="footer-menu2-text">
                        pickitup
                    </div>
                    <a href="#" class="footer-link1">
                        <div class="footer-link1-text1">
                            홈
                        </div>
                    </a>
                    <a href="#" class="footer-link1">
                        <div class="footer-link1-text1">
                            기업교육
                        </div>
                    </a>
                    <a href="#" class="footer-link1">
                        <div class="footer-link1-text1">
                            채용
                        </div>
                    </a>
                    <a href="#" class="footer-link1">
                        <div class="footer-link1-text1">
                            도움말
                        </div>
                    </a>
    
                </div>
                <div class="footer-menu2-wrap">
                    <div class="footer-menu2-text">
                        크리에이터 센터
                    </div>
                    <a href="#" class="footer-link1">
                        <div class="footer-link1-text1">
                            크리에이터 센터
                        </div>
                    </a>
                    <a href="#" class="footer-link1">
                        <div class="footer-link1-text1">
                            정규 클래스 지원하기
                        </div>
                    </a>
                    <a href="#" class="footer-link1">
                        <div class="footer-link1-text1">
                            도움말
                        </div>
                    </a>
                </div>
                <div class="footer-menu2-wrap">
                    <div class="footer-menu3-text">
                        고객센터
                    </div>
                    <div class="footer-media-menu3-text">
                        오전 10시 ~ 오후 6시 (주말, 공휴일 제외)
                    </div>
                    <div class="footer-menu3-wrap">
                        <button type="button" class="footer-center-button">
                            <span class="footer-center-text">문의하기</span>
                        </button>
                        <div>
                        <div class="footer-center-text1">
                            오전 10시 ~ 오후 6시 (주말, 공휴일 제외)
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>
<script src="https://code.jquery.com/jquery-3.5.0.js"></script>
 <script>
    $('.review-header-left').click(function(){
        location.href = history.back();
    })

    //무한스크롤
    $(window).on("scroll", function() { 
	var scrollHeight = $(document).height();
	var scrollPosition = $(window).height() + $(window).scrollTop();		
    let str = "";

        if (scrollPosition > scrollHeight -300) {			
            str +=  "<section class='allreveiws'>";
            str +=  '<div class="p-24">';
            str +=  '<div class="flex">';
            str +=  '<div><img src="/src/main/resources/static/images/5.jpg"></div>';
            str +=  '<div class="review_id_and_date">';
            str +=  '<div class="review_id">aangie4</div>';
            str +=  '<div class="small_and_gray review_date">2022-06-09</div>';
            str +=  '</div>  </div>';
            str +=  '<div class="review_content_container">';
            str +=  '<p class="review_content">토익 노베이스 중의 노베이스로 시작했어요.토익 노베이스 중의 노베이스로 시작했어요.';
            str +=  '토익 노베이스 중의 노베이스로 시작했어요.토익 노베이스 중의 노베이스로 시작했어요.';
            str +=  '토익 노베이스 중의 노베이스로 시작했어요.토익 노베이스 중의 노베이스로 시작했어요.';
            str +=  '토익 노베이스 중의 노베이스로 시작했어요.토익 노베이스 중의 노베이스로 시작했어요.';
            str +=  '</p></div></div>';
            str +=  '<div style="width: 100%; justify-content: center; display: flex;">';
            str +=  '<div class="border_bottom_line"></div>';
            str +=  '</div></section>';
            $(".review-container").append(str);
        }
    });
 </script>
</html>