@font-face {
    font-family: 'Openas';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_nine_@1.1/Openas.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

@font-face {
    font-family: 'SDSamliphopangche_Basic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/SDSamliphopangche_Basic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.contents-wrapper{
    background-color: rgb(255, 255, 255);
}
.banner-wrapper{
    margin-bottom: 32px;
    display: flex;
    align-items: stretch;
    flex-direction: column;
}
.footer-logo{
    font-family: 'Openas';
    margin-top: 24px;
    display: flex;
    align-items: center;
    margin-right: 32px;
}
.footer-language3{
    border-width: 0;
    color: #666666;
    margin: 0;
    padding: 0;
    font-size: 0.8125rem;
    font-weight: 400;
    line-height: 1.125rem;
}
