<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.pickitup.mapper.product.productFile.ProductMapper">
    <!--상품 리스트-->
    <select id="getList" resultType="productVO">
    SELECT
        NUM, NAME, CONTENT, CATEGORY, PRICE, STOCK,
        ORIGIN, MANUFACTURER, SUPPLIER, REGIST_DATE
    FROM TBL_PRODUCT
    ORDER BY REGIST_DATE DESC
    </select>
    <select id="getDetail" resultType="productVO">
    SELECT
        NUM, NAME, CONTENT, CATEGORY, PRICE, STOCK,
        ORIGIN, MANUFACTURER, SUPPLIER, REGIST_DATE
    FROM TBL_PRODUCT
    WHERE NUM = #{num}
    </select>
    <insert id="insert">
    INSERT INTO TBL_PRODUCT
        (
            NUM, NAME, CONTENT, CATEGORY, PRICE, STOCK,ORIGIN,
            MANUFACTURER, SUPPLIER, REGIST_DATE
        )
    VALUES
        (
            SEQ_PRODUCT.NEXTVAL,#{name},#{content},#{category},#{price},
            #{stock},#{origin},#{manufacturer},#{supplier},SYSDATE
        )
    </insert>
    <update id="update">
   UPDATE TBL_PRODUCT
    SET
        NAME = #{name},
        CONTENT = #{content},
        CATEGORY = #{category},
        PRICE = #{price},
        STOCK = #{stock},
        ORIGIN = #{origin},
        MANUFACTURER = #{manufacturer},
        SUPPLIER = #{supplier},
        REGIST_DATE = SYSDATE
    WHERE NUM=#{num}
    </update>
    <update id="delete">
    DELETE FROM TBL_PRODUCT
    WHERE NUM=#{num}
    </update>
</mapper>


















