<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/assets/css/projectDetail.css" />
    <link rel="stylesheet" href="/assets/css/header.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    
</head>
<body>
<!--헤더 부분-->
<div th:replace="~{/main/Header :: HeaderImport}"></div>
    <div class="allFrame">
        <div class="readFrame">
            <div class="readForm">
                <div class="readDetail">
                    <div class="ploggingImageForm">
                        <div class ="ploggingImage">
                            <picture class="ploggingImg">
                                <source srcset="/images/chun.png" media="all and (min-width: 1024px)" >
                                <img src="/images/chun.png" alt="">
                            </picture>
                        </div>
                    </div>
                    <div class="menuBarForm">
                        <div class="menuBar">
                            <div type="default" class="menus">
                                <div class="menu review">
                                    <a class="active moveReview">후기</a>
                                </div>
                                <div class="menu introduce">
                                    <a class="moveIntroduce">플로깅 소개</a>
                                </div>
                                <div class="menu group">
                                    <a class="moveGroup">단체</a>
                                </div>
                                <div class="menu community">
                                    <a class="moveCommunity">문의하기</a>
                                </div>
                                <div class="menu guide">
                                    <a class="moveGuide">이용 안내</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <section class="info">
                        <h2 class="projectInfo">플로깅 정보</h2>
                        <dl class="infoDetail">
                            <dt class="courseInfo">코스/장소</dt>
                            <dd class="course">코스</dd>
                            <dt class="terrainInfo">지형</dt>
                            <dd class="terrain">산</dd>
                            <dt class="pointInfo">포인트</dt>
                            <dd class="point">200p</dd>
                        </dl>
                    </section>    
                    <div class="reviewForm">
                        <section class="review">
                            <div class="reviewHead">
                                <div class="reviewHeadInfo">실제 참가자 후기</div>    
                            </div>
                            <div class="wrapImage">
                                <div class="reviewImages">
                                     <div class ="reviewImageForm">                                        
                                             <picture class="moveImage">
                                                <source srcset="/images/chun2.png" media="all and (min-width: 1024px)" >
                                                <img src="/images/chun2.png" class="reviewImage" alt="">
                                             </picture>                                         
                                     </div>
                                     <div class ="reviewImageForm">                                        
                                            <picture class="moveImage">
                                               <source srcset="../../static/images/chun3.png" media="all and (min-width: 1024px)" >
                                               <img src="/images/chun3.png" class="reviewImage" alt="">
                                            </picture>                                        
                                    </div>
                                    <div class ="reviewImageForm">                                        
                                            <picture class="moveImage">
                                               <source srcset="../../static/images/chun6.png" media="all and (min-width: 1024px)" >
                                               <img src="/images/chun6.png" class="reviewImage" alt="">
                                            </picture>                                        
                                    </div>
                                    <div class ="reviewImageForm">                                   
                                            <picture class="moveImage">
                                               <source srcset="/images/chun8.png" media="all and (min-width: 1024px)" >
                                               <img src="/images/chun8.png" class="reviewImage" alt="">
                                            </picture>                                        
                                    </div>
                                    <div class ="reviewImageForm">                                   
                                        <picture class="moveImage">
                                           <source srcset="/images/chun.png" media="all and (min-width: 1024px)" >
                                           <img src="/images/chun.png" class="reviewImage" alt="">
                                        </picture>                                        
                                </div>
                                </div>
                            </div>
                            <div class="modalContainer">
                                <div class="modalFrame">
                                    <div class="modalForm">
                                        <span class="material-symbols-outlined btnClose">close</span>
                                        <div class="modalItem"></div>
                                        <span class="material-symbols-outlined modalControl btnLeft">arrow_back_ios</span>
                                        <span class="material-symbols-outlined modalControl btnRight">arrow_forward_ios</span>                                                                                        
                                    </div>
                                </div>
                            </div>
                            <div style="margin : 40px 0px;"></div>
                            <div class="readReviews">
                                <div class="readReviewForm">
                                    <div class="readReview">
                                        <a href="#" class="moveReviewDetail">
                                            <div class="reviewDetailProfile">
                                                <div class="reviewProfileForm">
                                                    <span class="reviewProfile">
                                                        <picture class="profile">
                                                        
                                                            <img src="/images/chun.png" alt="">
                                                        </picture>
                                                    </span>
                                                </div>
                                                <div class="reviewNameDate">
                                                    <div class="reviewName">짜리킴</div>
                                                    <div class="reviewDate">5월 31일</div>
                                                </div>
                                            </div>
                                            <div class="profileMargin"></div>
                                            <div class="reviewContentForm">
                                                <pre class="reviewContent">집구하는 신혼부부입니다. 강의 덕분에 그동안 집구하면서 무엇을 잘못했는지, 앞으로는 어떤 전략으로 구해야 하는지 확실히 알게 되었어요! 일찍 완강했으면 좋았을 것을... 지금이라도 이 댓글을 보시는 분들! 집 구하시는 분이라면 언능 완강하세요~ 그리 길지도 않고 필요한 정보만 있어서 정말 도움이 됩니다! 매번 실습을 하면 현실파악에 더 도움이 되고요! 추천합니다
                                                </pre>
                                                <div class="reviewContentMargin"></div>
                                            </div>
                                        </a>                                       
                                    </div>
                                </div>
                                <div class="readReviewForm">
                                    <div class="readReview">
                                        <a href="#" class="moveReviewDetail">
                                            <div class="reviewDetailProfile">
                                                <div class="reviewProfileForm">
                                                    <span class="reviewProfile">
                                                        <picture class="profile">
                                                        
                                                            <img src="/images/chun.png" alt="">
                                                        </picture>
                                                    </span>
                                                </div>
                                                <div class="reviewNameDate">
                                                    <div class="reviewName">짜리킴</div>
                                                    <div class="reviewDate">5월 31일</div>
                                                </div>
                                            </div>
                                            <div class="profileMargin"></div>
                                            <div class="reviewContentForm">
                                                <pre class="reviewContent">집구하는 신혼부부입니다. 강의 덕분에 그동안 집구하면서 무엇을 잘못했는지, 앞으로는 어떤 전략으로 구해야 하는지 확실히 알게 되었어요! 일찍 완강했으면 좋았을 것을... 지금이라도 이 댓글을 보시는 분들! 집 구하시는 분이라면 언능 완강하세요~ 그리 길지도 않고 필요한 정보만 있어서 정말 도움이 됩니다! 매번 실습을 하면 현실파악에 더 도움이 되고요! 추천합니다
                                                </pre>
                                                <div class="reviewContentMargin"></div>
                                            </div>
                                        </a>                                       
                                    </div>
                                </div>
                                <div class="readReviewForm">
                                    <div class="readReview">
                                        <a href="#" class="moveReviewDetail">
                                            <div class="reviewDetailProfile">
                                                <div class="reviewProfileForm">
                                                    <span class="reviewProfile">
                                                        <picture class="profile">
                                                        
                                                            <img src="/images/chun.png" alt="">
                                                        </picture>
                                                    </span>
                                                </div>
                                                <div class="reviewNameDate">
                                                    <div class="reviewName">짜리킴</div>
                                                    <div class="reviewDate">5월 31일</div>
                                                </div>
                                            </div>
                                            <div class="profileMargin"></div>
                                            <div class="reviewContentForm">
                                                <pre class="reviewContent">집구하는 신혼부부입니다. 강의 덕분에 그동안 집구하면서 무엇을 잘못했는지, 앞으로는 어떤 전략으로 구해야 하는지 확실히 알게 되었어요! 일찍 완강했으면 좋았을 것을... 지금이라도 이 댓글을 보시는 분들! 집 구하시는 분이라면 언능 완강하세요~ 그리 길지도 않고 필요한 정보만 있어서 정말 도움이 됩니다! 매번 실습을 하면 현실파악에 더 도움이 되고요! 추천합니다
                                                </pre>
                                                <div class="reviewContentMargin"></div>
                                            </div>
                                        </a>                                       
                                    </div>
                                </div>
                                <div class="readReviewForm">
                                    <div class="readReview">
                                        <a href="#" class="moveReviewDetail">
                                            <div class="reviewDetailProfile">
                                                <div class="reviewProfileForm">
                                                    <span class="reviewProfile">
                                                        <picture class="profile">
                                                        
                                                            <img src="/images/chun.png" alt="">
                                                        </picture>
                                                    </span>
                                                </div>
                                                <div class="reviewNameDate">
                                                    <div class="reviewName">짜리킴</div>
                                                    <div class="reviewDate">5월 31일</div>
                                                </div>
                                            </div>
                                            <div class="profileMargin"></div>
                                            <div class="reviewContentForm">
                                                <pre class="reviewContent">집구하는 신혼부부입니다. 강의 덕분에 그동안 집구하면서 무엇을 잘못했는지, 앞으로는 어떤 전략으로 구해야 하는지 확실히 알게 되었어요! 일찍 완강했으면 좋았을 것을... 지금이라도 이 댓글을 보시는 분들! 집 구하시는 분이라면 언능 완강하세요~ 그리 길지도 않고 필요한 정보만 있어서 정말 도움이 됩니다! 매번 실습을 하면 현실파악에 더 도움이 되고요! 추천합니다
                                                </pre>
                                                <div class="reviewContentMargin"></div>
                                            </div>
                                        </a>                                       
                                    </div>
                                </div>
                            </div>
                            <a href="#" class="moveReviewTotal">후기 더보기</a>
                        </section>
                    </div>
                    <div class="pIntroduceFrame">
                        <div class="pIntroduceTitleForm">
                            <h3 class="pIntroduceTitle">
                                플로깅을<br>소개합니다.
                            </h3>
                        </div>                        
                            <picture class="pIntroduceContent">
                                <source srcset="../../static/images/plogging1.png" media="all and (min-width: 1024px)" >
                                <img src="/images/plogging1.png" alt="">
                            </picture>                                                                                                    
                            <picture class="pIntroduceContent">
                                <source srcset="/images/plogging2.png" media="all and (min-width: 1024px)" >
                                <img src="/images/plogging2.png" alt="">
                            </picture>                                                    
                    </div>
                    <div class="gIntroduceFrame">                        
                        <div class="gIntroduceTitleFrame">
                            <div class="gIntroduceTitleForm">
                                <h3 font-weight="normal" class="gIntroduceTitle">
                                    기업
                                    <br>
                                    <strong>한국산업인력공단</strong>
                                    입니다.
                                </h3>
                                <div class="gIntroduceProfileFrame">
                                    <span class="gIntroduceProfileForm">
                                        <picture class="gIntroduceProfile">
                                            <source srcset="/images/hrdk.png" media="all and (min-width: 1024px)" >
                                            <img src="/images/hrdk.png" alt="">
                                        </picture>
                                    </span>
                                </div>
                            </div>
                        </div>        
                        <div class="gIntroduceContentFrame">
                            부동산읽어주는남자 정태익입니다
현재 4개의 회사를 운영하며 투자자, 교육자, 상담가, 유튜버를 하고 있습니다.

저는 지금도 어릴 때 반지하에서 살았던 기억이 생생합니다. 크리스마스 즈음이었는데 작은 창문 사이로 눈이 오는 것을 보면서 뛸 뜻이 기뻐했던 장면 말이죠.



작은 쪽창 너머로 넓은 세상이 있었지만 대다수의 사람들은 그 쪽창이 세상의 전부인 줄 알고 삽니다. 저의 어린 시절이 그랬듯이요.



우리 모두가 수백억 부자가 되는 것을 꿈꾸지는 않습니다.

우리 가족이 편하게 살 수 있을 집이 하나 있었으면 좋겠고, 이왕 사는 것 가격도 올라서 막연하지만 미래 노후대비도 좀 되었으면 싶습니다. 자식이 공부는 좀 잘했으면 싶지만, 내가 수백억 부자가 되고 싶은 것까지는 아닌게 우리네 삶입니다.



그런데 그런 소박한 목표도 쉽지가 않습니다.

누구 하나 제대로 알려주지를 않으니까요. 부모님도 모르고, 친구들도 모르고, 회사 동료들도 잘 모릅니다.

집을 어떻게 사야 하는 건지도 모르겠고 법은 복잡하다는데 중개사, 수리업자, 임차인같은 사람 상대는 겁부터 납니다.



그런 분들에게 목표를 이루는 시작이 되어 드리고 싶었습니다. 반지하 살던 꼬마에게 밖의 세상은 엄청 넓고 너는 달라질 수 있다고, 21살의 나에게 이렇게 하는게 부자가 되는 준비를 하는 길이라고, 누군가 답을 줬었다면 나의 인생은 좀 더 달라졌을텐데라고 생각한 적이 많습니다.



저도 누군가에게는 그 답을 드리는 사람이 되고 싶습니다.

그 이야기와 노하우를 클래스 101에서 알려드릴게요.
                        </div>
                    </div>
                    <div class="qnaFrame">
                        <div class="qnaTitle">
                            <h3>문의하기</h3>
                        </div>
                        <div class="qnaListForm">
                            <div class="qnaList">
                                <div class="qna">
                                    <div class="question">
                                        <div class="qUserProfileFrame">
                                            <section class="qUserProfileForm">
                                                <div class="qUserProfileImgFrame">
                                                    <span class="qUserProfileImgForm">
                                                        <picture class="qUserProfile">
                                                            <img src="/images/chun.png" alt="">
                                                        </picture>
                                                    </span>
                                                </div>
                                                <div class="qUserProfileNameFrame">
                                                    <strong class="qUserProfileName">짜리킴</strong>
                                                    <div class="qUserProfileDate">2022. 05. 26.</div>
                                                </div>
                                            </section>
                                        </div>
                                        <div class="qContentFrame">
                                            <div class="qContentForm">                    
                                                <div class="qContent">춘식이도 부자가 될 수 있을까요?</div>
                                            </div>
                                        </div>
                                        <div class="qContentAddFrame">                                        
                                            <form class="qContentAddForm">
                                                <div class="qContentAdd">
                                                    <textarea class="qContentAddText" placeholder="댓글을 입력해주세요."></textarea>
                                                    <button class="qContentAddBtn" type="submit">
                                                        <span class="material-symbols-outlined">
                                                            add
                                                            </span>
                                                    </button>
                                                </div>
                                            </form>                                        
                                        </div>
                                    </div>
                                </div>
                                <div class="qna">
                                    <div class="question">
                                        <div class="qUserProfileFrame">
                                            <section class="qUserProfileForm">
                                                <div class="qUserProfileImgFrame">
                                                    <span class="qUserProfileImgForm">
                                                        <picture class="qUserProfile">
                                                            <img src="/images/chun.png" alt="">
                                                        </picture>
                                                    </span>
                                                </div>
                                                <div class="qUserProfileNameFrame">
                                                    <strong class="qUserProfileName">짜리킴</strong>
                                                    <div class="qUserProfileDate">2022. 05. 26.</div>
                                                </div>
                                            </section>
                                        </div>
                                        <div class="qContentFrame">
                                            <div class="qContentForm">                    
                                                <div class="qContent">춘식이도 부자가 될 수 있을까요?</div>
                                            </div>
                                        </div>
                                        <div class="qContentAddFrame">
                                            <form class="qContentAddForm">
                                                <div class="qContentAdd">
                                                    <textarea class="qContentAddText" placeholder="댓글을 입력해주세요."></textarea>
                                                    <button class="qContentAddBtn" type="submit">
                                                        <span class="material-symbols-outlined">
                                                            add
                                                            </span>
                                                    </button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="qna">
                                    <div class="question">
                                        <div class="qUserProfileFrame">
                                            <section class="qUserProfileForm">
                                                <div class="qUserProfileImgFrame">
                                                    <span class="qUserProfileImgForm">
                                                        <picture class="qUserProfile">
                                                            <img src="/images/chun.png" alt="">
                                                        </picture>
                                                    </span>
                                                </div>
                                                <div class="qUserProfileNameFrame">
                                                    <strong class="qUserProfileName">짜리킴</strong>
                                                    <div class="qUserProfileDate">2022. 05. 26.</div>
                                                </div>
                                            </section>
                                        </div>
                                        <div class="qContentFrame">
                                            <div class="qContentForm">                    
                                                <div class="qContent">춘식이도 부자가 될 수 있을까요?</div>
                                            </div>
                                        </div>
                                        <div class="qContentAddFrame">
                                            <form class="qContentAddForm">
                                                <div class="qContentAdd">
                                                    <textarea class="qContentAddText" placeholder="댓글을 입력해주세요."></textarea>
                                                    <button class="qContentAddBtn" type="submit">
                                                        <span class="material-symbols-outlined">
                                                            add
                                                            </span>
                                                    </button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="useGuideFrame">
                        <div class="useGuide">
                            <h3 class="useGuideTitle">이용 안내</h3>
                        </div>
                        <div class="useGuideContentFrame">
                            <div class="useGuideContentForm">
                                <div class="useGuideContent">
                                    낙성대역 3번 출구에서 만나요!
                                </div>
                            </div>        
                        </div>
                    </div>
                </div>
                <div class="readApplicantBody">
                    <div class="readApplicantContainer">
                        <div class="readApplicateFrame">
                            <div class="readApplicantForm">
                                <div class="readGroupInfoForm">한국산업인력공단</div>
                                <h2 class="readApplicantTitle">
                                    산뜻한 봄 바람과 함께 플로깅!<br>관악산 등산하며 자연도 느끼고 보호하기
                                </h2>
                                <div class="readApplicantCategory">
                                    <div class="readApplicantCourseForm">
                                        <div class="readApplicantCourse">코스</div>
                                    </div>
                                    <div class="readApplicantTerrainForm">
                                        <div class="readApplicantTerrain">산</div>
                                    </div>                                    
                                </div>
                                <div class="readApplicantContentFrame">
                                    <div class="readApplicantContentForm">
                                        <p class="readApplicantContent">저희가 쓰레기 담을 봉투와 집게는 준비하니 몸만 오시면 됩니다!</p>
                                    </div>
                                </div>
                                <div class="readApplicantDateFrame">
                                    <div class="readApplicantDataForm">
                                        <div class="readApplicantDate">2022 - 06 - 18 (토)</div>                                        
                                    </div>
                                </div>
                                <div class="readApplicantPointFrame">
                                    <div class="readApplicantPointForm">
                                        <div class="readApplicantPointTitleForm">
                                            <div class="readApplicantPointTitle">포인트 적립</div>
                                        </div>
                                        <div class="readApplicantPointAccumlateForm">
                                            <h4 class="readApplicantPointAccumlate">300p</h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="readApplicantBtnFrame">
                                    <div class="readApplicantBtnForm">
                                        <button type="button" class="readApplicantLikeBtn">
                                            <div class="pLikeImage">
                                                <span class="material-symbols-outlined">favorite</span>                                                                                                    
                                            </div>
                                            <span class="pLikeCount">356</span>
                                        </button>
                                    </div>
                                    <div class="readApplicantBtnFormRight">
                                        <button type="button" class="readApplicantShareBtn">
                                            <div class="pShareImage">
                                                <span class="padding-t material-symbols-outlined">ios_share</span>                                                                                                                                                                                                           
                                            </div>
                                            
                                        </button>
                                    </div>
                                </div>
                                <div class="projectApplicantFrame">
                                    <button type="button" class="projectApplicantBtn">
                                        플로깅 신청하기
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script>
(function() {
    let reviewImageList = document.querySelectorAll('.moveImage');
    let reviewFrame = document.querySelector('.modalFrame');
    let reviewFrameItem = document.querySelector('.modalItem');
    let images = document.querySelectorAll('.reviewImage');

    // 배열 초기 세팅
    let imageList = [];
    // 이미지 카운터 설정
    let imageCounter = 0;

    // forEach문을 사용하여 모든 이미지를 가져오고 배열에 항목으로 푸시.
    images.forEach(function(image){
        imageList.push(image.src);
    })

    console.log(imageList);
    reviewImageList.forEach(function(item){
        // 클릭 시 모달
        // css display: none; 에서 display: block; 으로
      
        item.addEventListener('click',function(e){
            // 클릭한 이미지를 가져오기
            let image = e.target.src;
            console.log(image);
            reviewFrameItem.style.backgroundImage = `url(${image})`;
            reviewFrame.classList.add('show');
            // 선택한 이미지의 배열 인덱스 번호를 가져오기
            imageCounter = imageList.indexOf(image);
            console.log(imageCounter);
        });
    });
    
    // 좌우 화살표
    // 왼쪽버튼
    let btnLeft = document.querySelector('.btnLeft');
    btnLeft.addEventListener('click', function(){
        imageCounter--;
        if(imageCounter < 0) {
            imageCounter = imageList.length -1;
        }
        reviewFrameItem.style.backgroundImage = `url(${imageList[imageCounter]})`;
    });

    // 오른쪽버튼
    let btnRight = document.querySelector('.btnRight');
    btnRight.addEventListener('click', function(){
        imageCounter++;
        if(imageCounter >= imageList.length) {
            imageCounter = 0;
        }
        reviewFrameItem.style.backgroundImage = `url(${imageList[imageCounter]})`;
    });

    // 닫기버튼
    let btnClose = document.querySelector('.btnClose');
    btnClose.addEventListener('click', function(){
        reviewFrame.classList.remove('show');
    });
})();
    // 현재 위치 강조
    let $currentPlace = $('.menus').find('a');
    $currentPlace.click(function(){
        $currentPlace.removeClass('active');
        if(!$(this).hasClass('active')) {
           $(this).addClass('active');
       }
    })

    // 내부 페이지 이동
    var reviewOffset = $(".reviewForm").offset().top - 150;
    var pIntroOffset = $(".pIntroduceFrame").offset().top - 150;
    var gIntroOffset = $(".gIntroduceFrame").offset().top - 200;
    var qnaOffset = $(".qnaFrame").offset().top - 150;
    var guideOffset = $(".useGuideFrame").offset().top;

    var currentScroll = document.documentElement.scrollTop;
    if(currentScroll < pIntroOffset) {
        if(!$currentPlace.hasClass('active')) {
            $currentPlace.addClass('active');
        }
    }

    $(".moveReview").click(function(){
        $("html, body").animate({scrollTop: reviewOffset}, 0);
    });
    $(".moveIntroduce").click(function(){
        $("html, body").animate({scrollTop: pIntroOffset}, 0);
    });
    $(".moveGroup").click(function(){
        $("html, body").animate({scrollTop: gIntroOffset}, 0);
    });
    $(".moveCommunity").click(function(){
        $("html, body").animate({scrollTop: qnaOffset}, 0);
    });
    $(".moveGuide").click(function(){
        $("html, body").animate({scrollTop: guideOffset}, 0);
    });

</script>
</html>