<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/assets/css/projectDetail.css" />
</head>
<body>
    <div class="allFrame">
        <div class="readFrame">
            <div class="readForm">
                <div class="readDetail">
                    <div class="imageForm">
                        <div class ="image">
                            <picture class="ploggingImg">
                                <source srcset="/images/chun.png" media="all and (min-width: 1024px)" >
                                <img src="/images/chun.png" alt="">
                            </picture>
                        </div>
                    </div>
                    <div class="menuBarForm">
                        <div class="menuBar">
                            <div type="default" class="menus">
                                <div class="menu review">
                                    <div type="default" class="moveReview">후기</div>
                                </div>
                                <div class="menu introduce">
                                    <div type="default" class="moveIntroduce">플로깅 소개</div>
                                </div>
                                <div class="menu group">
                                    <div type="default" class="moveGroup">단체</div>
                                </div>
                                <div class="menu community">
                                    <div type="default" class="moveCommunity">커뮤니티</div>
                                </div>
                                <div class="menu guide">
                                    <div type="default" class="moveGuide">이용 안내</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <section class="info">
                        <h2 class="projectInfo">플로깅 정보</h2>
                        <dl class="infoDetail">
                            <dt class="courseInfo">코스/장소</dt>
                            <dd class="course">코스</dd>
                            <dt class="terrainInfo">지형</dt>
                            <dd class="terrain">산</dd>
                            <dt class="pointInfo">포인트</dt>
                            <dd class="point">200p</dd>
                        </dl>
                    </section>
                    <div class="reviewForm">
                        <section class="review">
                            <div class="reviewHead">
                                <div class="reviewHeadInfo">실제 참가자 후기</div>
                                <a target="_self" cursor="pointer" class="moveWriteReviewForm" href="#">후기 작성하기
<!--                                    <span class="mwrFontForm1">-->
<!--                                        <span class="mwrFontForm2">-->
<!--                                            <span class="mwrFont">후기 작성하기</span>-->
<!--                                        </span>-->
<!--                                    </span>-->
                                </a>
                            </div>
                        </section>
                    </div>

                </div>
                <div class="readApplicateForm">

                </div>
            </div>
        </div>
    </div>
</body>
</html>