<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>admin</title>
</head>
<link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<link rel="stylesheet" href="admin_style.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

<body>
    <div class="root">
        <div id="container">
            <!-- 유저 현황 -->
            <div class="userStatus"><strong>오늘 가입자수 20명 동시 접속자수 50명</strong></div>
  
            <div class="statusBox">
                <!-- 문의 현황 -->
                <div>
                   <h2>승인 대기자 (수정중)</h2>
                </div>
                
                <!-- 후기 현황 -->
                <div>
                    <h2>미답변 문의 (수정중)</h2>
                </div>
            
            </div>

            <!-- 오늘 프로젝트 현황 -->
            <!-- 클릭시 색상 변경 -->
            <div class="projectBox">
                <div>
                    <h2>오늘 프로젝트 현황(06월 10일 01:10 기준) </h2>
                </div>
                <div class="projectStatus">
                    <a href="#">
                        <!-- 아이콘 -->
                        <span class="material-symbols-outlined contentIcon" style="font-size: 50px;">
                            hourglass_empty
                            </span>
                            <span class="projectStatus-title">승인대기</span><strong>0건</strong></a>
                    <a href="#">
                        <!-- 아이콘 -->
                        <span class="material-symbols-outlined contentIcon" style="font-size: 50px;">
                            start
                            </span>
                            <span class="projectStatus-title">진행중</span><strong>0건</strong></a>
                    <a href="#">
                        <!-- 아이콘 -->
                        <span class="material-symbols-outlined contentIcon" style="font-size: 50px;">
                            paid
                            </span>
                        <span class="projectStatus-title">지급대기</span><strong>0건</strong></a>
                </div>
            </div>
            <!-- 주문 현황 -->
            <div class="orderBox">
                <h2>오늘 주문 현황(최근 1개월 기준)</h2>
            <div class="orderStatus">
                <div><a href="#"><strong>0</strong><span class="title">주문접수</span></a></div>
                <div><a href="#"><strong>0</strong><span class="title">배송준비</span></a></div>
                <div><a href="#"><strong>0</strong><span class="title">배송중</span></a></div>
                <div><a href="#"><strong>0</strong><span class="title">배송완료</span></a></div>
            </div>
        </div>
        </div>

        <!-- sidebar  -->
        <div id="sidebar">
            <ul>
                <li class="sidebarCategory">
                    <a href="#">
                        <div>
                            <span class="material-symbols-outlined icon">person
                            </span>
                            <span class="sidebarTitle">유저 관리</span>
                        </div>
                      
                    </a>
               
                </li>
                <li class="sidebarCategory">
                    <a href="#">
                        <div><span class="material-symbols-outlined icon">
                                storefront
                            </span><span class="sidebarTitle">상품 관리</span>
                        </div><span class="material-symbols-outlined more">
                            expand_more
                        </span>
                    </a>
                    <!-- onClick 시 노출 -->
                    <ul class="sidebarDetail">
                        <li><a id="detail" href="#">상품 등록</a></li>
                        <li><a id="detail" href="#">상품 목록</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">
                        <div>
                            <span class="material-symbols-outlined icon">
                                shopping_cart
                            </span><span class="sidebarTitle">주문 관리</span>
                        </div>
                        <span class="material-symbols-outlined more">
                            expand_more
                        </span>
                    </a>
                    <!-- onClick 시 노출 -->
                    <ul class="sidebarDetail">
                        <li><a id="detail" href="#">전체주문목록</a></li>
                        <li><a id="detail" href="#">배송 관리</a></li>   
                        <li><a id="detail" href="#">취소 관리</a></li>   
                    </ul>
                </li>
                <li class="sidebarCategory">
                    <a href="#">
                        <div>
                            <span class="material-symbols-outlined icon">
                                public
                            </span>
                            <span class="sidebarTitle">프로젝트 관리</span>
                        </div>
                        <span class="material-symbols-outlined more">
                            expand_more
                        </span>
                    </a>
                    <!-- onClick 시 노출 -->
                    <ul class="sidebarDetail">
                        <li><a id="detail" href="#">프로젝트 생성</a></li>
                        <li><a id="detail" href="#">프로젝트 목록</a></li>
                        <li><a id="detail" href="#">QR코드</a></li>
                    </ul>
                </li>
                <li class="sidebarCategory">
                    <a href="#">
                        <div>
                            <span class="material-symbols-outlined icon">
                                assignment
                                </span>
                            <span class="sidebarTitle">게시물 관리</span>
                        </div>
                        <span class="material-symbols-outlined more">
                            expand_more
                        </span>
                    </a>
                </li>
                <li class="sidebarCategory">
                    <a href="#">
                        <div>
                            <span class="material-symbols-outlined icon">
                                analytics
                            </span>
                            <span class="sidebarTitle">통계 현황</span>
                        </div>
                        <span class="material-symbols-outlined more">
                            expand_more
                        </span>
                    </a>
                </li>
            </ul>
        </div>
        <!-- sidebar -->

    </div>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>

</script>
</html>