<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시물 목록</title>
</head>
<link rel="stylesheet" href="admin_style.css">
<link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

<!-- 
1. 검색명(상품명, 상품번호, )
2. 카테고리
3. 상품 등록일
4. 진열상태 
5. 재고상태

 -->

<body>
    <div class="root">
        <div id="sidebar">
        </div>


        <!-- content -->
        <div id="container">
            <div>
                <h2>게시물 목록</h2>
            </div>
            <div class="searchBox" id="boardSearchBox">
                <form id="boardSearchForm">
                    <table>
                        <tr>
                            <th>기간</th>
                            <td>
                                <div class="dateSelect" id="boardDateSelect">
                                    <a class="btnDate" href="">오늘</a>
                                    <a class="btnDate" href="">3일</a>
                                    <a class="btnDate" href="">7일</a>
                                    <a class="btnDate" href="">1개월</a>
                                    <a class="btnDate" href="">3개월</a>
                                    <a class="btnDate" href="">1년</a>
                                    <a class="btnDate" href="">전체</a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th>게시판 선택</th>
                            <td>
                                <select>
                                    <option>전체</option>
                                    <option>공지사항</option>
                                    <option>크리에이터센터 문의</option>
                                    <option>스토어 문의</option>
                                    <option>프로젝트 문의</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <th>게시글 찾기</th>
                            <td>
                                <select>
                                    <option>제목</option>
                                    <option>내용</option>
                                    <option>작성자</option>
                                </select>
                                <input type="text" name="" id="">
                            </td>
                        </tr>
                        <tr>
                            <th>답변상태</th>
                            <td>
                                <span>전체</span><input type="radio" name="answerStatus" id="" checked>
                                <span>답변 대기</span><input type="radio" name="answerStatus" id="">
                                <span>답변 완료</span><input type="radio" name="answerStatus" id="">
                            </td>
                        </tr>
                    </table>
                    <div class="btnBox">
                        <button type="button" id="orderSearchBtn">검색</button>
                    </div>
                </form>
            </div>

            <!-- 클래스명 변경 -->
            <div class="listBox">
                <table id="orderTbl">
                    <tr>
                        <div class="listTitle">
                            <span>[총
                                <strong>2</strong>
                                개]</span>


                            <td colspan="12">
                                <div class="listTitle">
                                    <a href="" class="listBtn">삭제</a>
                                    <a href="" class="listBtn">공지지정</a>
                                    <a href="" class="listBtn">공지해제</a>

                                </div>
                            </td>


                        </div>

                    </tr>


                    <tr>
                        <!-- 생활, 주방, 욕실, 반려동물, 화장품, 식품, 문구, 원예  -->

                        <th scope="col"></th>
                        <th scope="col">번호</th>
                        <th scope="col">분류</th>
                        <th scope="col">제목</th>
                        <th scope="col">작성일</th>
                        <th scope="col">상태</th>
                        <th scope="col">상세보기</th>
                    </tr>
                    <tr>
                        <td><input type="checkbox"></td>
                        <td>1</td>
                        <td>공지사항</td>
                        <td>단체 사용자들 안내</td>
                        <td>2022-06-12</td>
                        <td>공지 지정</td>
                        <!-- 상품 상세보기로 이동 -->
                        <td><a href="#">상세보기</a></td>
                    </tr>
                    <tr>

                    </tr>

                </table>

            </div>
            <!-- 페이징 처리 -->
            <div class="paging">
                <a href="#">&lt;</a>
                <a href="#">1</a>
                <a href="#">2</a>
                <a href="#">3</a>
                <a href="#">&gt;</a>
            </div>
        </div>


    </div>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $('#sidebar').load("adminSideBar.html");

    })

    // 삭제 버튼 클릭시


    // 공지 지정 버튼 클릭시


    // 공지 해제 버튼 클릭시

    
</script>

</html>