<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>공지사항</title>
</head>
<link rel="stylesheet" href="admin_style.css">
<link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

<!-- 
1. 검색명(상품명, 상품번호, )
2. 카테고리
3. 상품 등록일
4. 진열상태 
5. 재고상태

 -->

<body>
    <div class="root">

        <!-- sidebar -->
        <div id="sidebar">
        </div>
        <!-- sidebar -->

        <!-- content -->
        <div id="container">
            <div>
                <h2>공지사항 등록</h2>
            </div>
            <div class="boardWriteBox">
                <form id="boardWriteForm">
                    <table>
                        <tr>
                            <td>제목</td>
                        </tr>
                        <tr>
                            <td><input type="text" name="" id="boardTitle"></td>
                        </tr>
                        <tr>
                            <td>내용</td>
                        </tr>
                        <!-- floala 에디터 -->
                        <tr>
                            <td><textarea id="boardContent"></textarea></td>
                        </tr>
                    </table>
                    <div>
                    <button>등록</button></div>
                </form>
            </div>
        </div>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
       $(document).ready(function(){
        $('#sidebar').load("adminSideBar.html");
    })
</script>

</html>