<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>주문 목록</title>
</head>
<link rel="stylesheet" th:href="@{/assets/css/admin_style.css}">
<link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />


<body>
    <div class="root">

        <!-- sidebar -->
        <div id="sidebar">
          
        </div>
        <!-- sidebar -->

        <!-- content -->
        <!-- 주문번호,  -->
        <div id="container">
            <div>
                <h2>주문 목록</h2>
            </div>
            <div class="searchBox" id="orderSearchBox">
                <form id="orderSearchForm">
                    <table>
                        <tr>
                            <th>검색분류</th>
                            <td colspan="3">
                                <select>
                                    <option>주문번호</option>
                                    <option>주문자명</option>
                                    <option>수령자명</option>
                                    <option>주문자 아이디</option>
                                    <option>주문자 휴대전화</option>
                                    <option>배송지 주소</option>
                                </select>
                                <input type="text" name="" id="" class="orderSearchText">
                                <!-- 버튼 클릭시 최대 5개까지 검색창 추가 -->
                                <button type="button" id="filderAddBtn">+</button>
                            </td>
                        </tr>
                        <tr>
                            <th>상품</th>
                            <td colspan="3">
                                <select>
                                    <option>상품명</option>
                                    <option>상품번호</option>
                                    <option>제조사</option>
                                    <option>공급사</option>
                                </select>
                                <input type="text" name="" id="" class="orderSearchText">
                            </td>
                        </tr>
                        <tr>
                            <th>기간</th>
                            <td colspan="3">
                                <div class="dateSelect">
                                    <select>
                                        <option>주문일</option>
                                        <option>배송시작일</option>
                                        <option>배송완료일</option>
                                    </select>
                                    <a class="btnDate" href="">오늘</a>
                                    <a class="btnDate" href="">3일</a>
                                    <a class="btnDate" href="">7일</a>
                                    <a class="btnDate" href="">1개월</a>
                                    <a class="btnDate" href="">3개월</a>
                                    <a class="btnDate" href="">1년</a>
                                    <a class="btnDate" href="">전체</a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <div class="checkBox">
                                <th>주문상태</th>
                                <td>
                                    <input type="checkbox" name="" id="orderCheckAll">
                                    <label for="orderSearchCheck">전체</label>
                                    <input type="checkbox" name="" id="orderCheckAll">
                                    <label for="orderSearchCheck">배송준비중</label>
                                    <input type="checkbox" name="" id="orderSearchCheck">
                                    <label for="orderSearchCheck">배송중</label>
                                    <input type="checkbox" name="" id="orderSearchCheck">
                                    <label for="orderSearchCheck">배송완료</label>
                                </td>
                            </div>
                        </tr>
                    </table>
                    <div class="btnBox">
                        <button type="button" id="orderSearchBtn">검색</button>
                        <button type="button" id="orderSearchBtn">초기화</button>
                    </div>
                </form>
            </div>

            <!-- 클래스명 변경 -->
            <div class="listBox" id="orderList">
                <table>
                    <tr>
                        <div class="searchResult">
                            <div>
                                <span>[총
                                    <strong>2</strong>
                                    개]</span>

                            </div>
                        </div>
                    </tr>


                    <tr>
                        <!-- 생활, 주방, 욕실, 반려동물, 화장품, 식품, 문구, 원예  -->

                        <th scope="col"></th>
                        <th scope="col">번호</th>
                        <th scope="col">주문일</th>
                        <th scope="col">주문번호</th>
                        <th scope="col">주문자</th>
                        <th scope="col">상품명</th>
                        <th scope="col">결제금액</th>
                        <th scope="col">배송상태</th>
                        <th scope="col">메모</th>
                        <th scope="col">상세보기</th>
                    </tr>
                    <tr>
                        <td><input type="checkbox"></td>
                        <td>1</td>
                        <td>2022-06-12 11:32</td>
                        <td>O12345678</td>
                        <td><a href="#">까망이</a></td>
                        <td>초록초록 고무장갑</td>
                        <td>50point</td>
                        <td>배송중</td>
                        <td></td>
                        <td>상세보기</td>
                        
                    </tr>
                    <tr>
                        <td><input type="checkbox"></td>
                        <td>2</td>
                        <td>2022-06-12 11:32</td>
                        <td>O12345679</td>
                        <td><a href="#">파랑이</a></td>
                        <td>초록초록 고무장갑</td>
                        <td>50point</td>
                        <td>배송중</td>
                        <td></td>
                        <td>상세보기</td>
                        
                    </tr>

                </table>
                <div class="paging">
                    <a href="#">&lt;</a>
                    <a href="#">1</a>
                    <a href="#">2</a>
                    <a href="#">3</a>
                    <a href="#">&gt;</a>
                </div>
            </div>
            <!-- 페이징 처리 -->
     
        </div>


    </div>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
      $(document).ready(function(){
        $('#sidebar').load("adminSideBar.html");

    })
</script>

</html>