<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>상품 목록</title>
</head>
<link rel="stylesheet" href="/assets/css/admin_style.css">
<link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

<!-- 
1. 검색명(상품명, 상품번호, )
2. 카테고리
3. 상품 등록일
4. 진열상태 
5. 재고상태

 -->

<body>
    <div class="root">

        <!-- sidebar -->
        <div id="sidebar">
        </div>
        <!-- sidebar -->

        <!-- content -->
        <div id="container">
            <div>
                <h2>상품 목록</h2>
            </div>
            <div class="searchBox" id="productSearchBox">
                <form id="productSearchForm">
                    <table id="searchTbl">
                        <tr>
                            <th>검색분류</th>
                            <td colspan="3">
                                <select>
                                    <option>상품명</option>
                                    <option>상품번호</option>
                                    <option>제조사</option>
                                    <option>공급사</option>
                                </select>
                                <input type="text" name="" id="">
                            </td>
                        </tr>
                        <tr>
                            <th>상품분류</th>
                            <td colspan="3">
                                <select>
                                    <option>전체</option>
                                    <option>생활</option>
                                    <option>주방</option>
                                    <option>욕실</option>
                                    <option>반려동물</option>
                                    <option>화장품</option>
                                    <option>식품</option>
                                    <option>문구</option>
                                    <option>원예</option>
                                </select>
                                <input type="text" name="" id="">
                            </td>
                        </tr>
                        <tr>
                            <th>상품등록일</th>
                            <td colspan="3">
                                <div class="dateSelect">
                                    <select>
                                        <option>상품등록일</option>
                                        <option>상품최종수정일</option>
                                    </select>
                                    <a class="btnDate" href="">오늘</a>
                                    <a class="btnDate" href="">3일</a>
                                    <a class="btnDate" href="">7일</a>
                                    <a class="btnDate" href="">1개월</a>
                                    <a class="btnDate" href="">3개월</a>
                                    <a class="btnDate" href="">1년</a>
                                    <a class="btnDate" href="">전체</a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <div class="productFilterBox">
                                <th>진열상태</th>
                                <td>
                                    <input type="radio" id="productFilterAll" name="productFilter" value="" checked>
                                    <label for="all">전체</label>
                                    <input type="radio" id="productFilterOn" name="productFilter" value="">
                                    <label for="productFilterOn">진열함</label>
                                    <input type="radio" id="productFilterDown" name="productFilter" value="">
                                    <label for="productFilterDown">진열안함</label>
                                </td>
                                <th>재고상태</th>
                                <td>
                                    <input type="radio" id="productFilterAll" name="productFilter" value="" checked>
                                    <label for="all">전체</label>
                                    <input type="radio" id="productFilterOn" name="productFilter" value="">
                                    <label for="productFilterOn">판매함</label>
                                    <input type="radio" id="productFilterDown" name="productFilter" value="">
                                    <label for="productFilterDown">판매안함</label>
                                </td>
                            </div>
                        </tr>
                    </table>
                    <div class="btnBox">
                        <button type="button" id="productSearchBtn">검색</button>
                        <button type="button" id="productSearchBtn">초기화</button>
                    </div>
                </form>
            </div>

            <!-- 클래스명 변경 -->
            <div class="listBox">
                <table>
                    <tr>
                        <div class="listFilter">
                            <span>[총
                                <strong>2</strong>
                                개]</span>
                            <select>
                                <option>등록일 역순</option>
                                <option>등록일 순</option>
                                <option>-----------</option>
                                <option>수정일 역순</option>
                                <option>수정일 순</option>
                                <option>-----------</option>
                                <option>상품명 역순</option>
                                <option>상품명 순</option>
                                <option>-----------</option>
                                <option>판매가 역순</option>
                                <option>판매가 순</option>
                            </select>
                        </div>

                        <td colspan="12">
                            <div class="listTitle">
                                <a href="" class="listBtn">삭제</a>
                                <a href="" class="listBtn">진열변경</a>
                                <a href="" class="listBtn">판매변경</a>
                                <a href="" class="listBtn">상품등록</a>
                            </div>
                        </td>
            </div>
            </tr>


            <tr>
                <!-- 생활, 주방, 욕실, 반려동물, 화장품, 식품, 문구, 원예  -->

                <th scope="col"></th>
                <th scope="col">번호</th>
                <th scope="col">상품번호</th>
                <th scope="col">분류</th>
                <th scope="col">상품명</th>
                <th scope="col">판매가</th>
                <th scope="col">진열상태</th>
                <th scope="col">판매상태</th>
                <th scope="col">상품등록일</th>
                <th scope="col">상품진열상황</th>
            </tr>
            <tr>
                <td><input type="checkbox"></td>
                <td>1</td>
                <td>20201918</td>
                <td>생활</td>
                <!-- 상품 수정하기로 이동 -->
                <td><a href="#">초록초록 고무장갑</a></td>
                <td>50point</td>
                <td>진열함</td>
                <td>판매함</td>
                <td>2022-06-12</td>
                <!-- 상품 상세보기로 이동 -->
                <td><a href="#">상세보기</a></td>
            </tr>
            <tr>
                <td><input type="checkbox"></td>
                <td>2</td>
                <td>20201918</td>
                <td>생활</td>
                <td><a href="#">초록초록 고무장갑</a></td>
                <td>50point</td>
                <td>진열함</td>
                <td>판매함</td>
                <td>2022-06-12</td>
                <td><a href="#">상세보기</a></td>
            </tr>

            </table>
            <!-- 페이징 처리  -->
            <div class="paging">
                <a href="#">&lt;</a>
                <a href="#">1</a>
                <a href="#">2</a>
                <a href="#">3</a>
                <a href="#">&gt;</a>
            </div>
        </div>
        
        
    </div>


    </div>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $('#sidebar').load("adminSideBar.html");

    })
</script>

</html>