<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시물 목록</title>
</head>
<link rel="stylesheet" href="admin_style.css">
<link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

<!-- 
1. 검색명(상품명, 상품번호, )
2. 카테고리
3. 상품 등록일
4. 진열상태 
5. 재고상태

 -->

<body>
    <div class="root">

        <!-- sidebar -->
        <div id="sidebar">
            <ul>
                <li class="sidebarCategory">
                    <a href="#">
                        <div>
                            <span class="material-symbols-outlined icon">person
                            </span>
                            <span class="sidebarTitle">유저 관리</span>
                        </div>

                    </a>

                </li>
                <li class="sidebarCategory">
                    <a href="#">
                        <div><span class="material-symbols-outlined icon">
                                storefront
                            </span><span class="sidebarTitle">상품 관리</span>
                        </div><span class="material-symbols-outlined more">
                            expand_more
                        </span>
                    </a>
                    <!-- onClick 시 노출 -->
                    <ul class="sidebarDetail">
                        <li><a id="detail" href="#">상품 등록</a></li>
                        <li><a id="detail" href="#">상품 목록</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">
                        <div>
                            <span class="material-symbols-outlined icon">
                                shopping_cart
                            </span><span class="sidebarTitle">주문 관리</span>
                        </div>
                        <span class="material-symbols-outlined more">
                            expand_more
                        </span>
                    </a>
                    <!-- onClick 시 노출 -->
                    <ul class="sidebarDetail">
                        <li><a id="detail" href="#">전체주문목록</a></li>
                        <li><a id="detail" href="#">배송 관리</a></li>
                        <li><a id="detail" href="#">취소 관리</a></li>
                    </ul>
                </li>
                <li class="sidebarCategory">
                    <a href="#">
                        <div>
                            <span class="material-symbols-outlined icon">
                                public
                            </span>
                            <span class="sidebarTitle">프로젝트 관리</span>
                        </div>
                        <span class="material-symbols-outlined more">
                            expand_more
                        </span>
                    </a>
                    <!-- onClick 시 노출 -->
                    <ul class="sidebarDetail">
                        <li><a id="detail" href="#">프로젝트 생성</a></li>
                        <li><a id="detail" href="#">프로젝트 목록</a></li>
                        <li><a id="detail" href="#">QR코드</a></li>
                    </ul>
                </li>
                <li class="sidebarCategory">
                    <a href="#">
                        <div>
                            <span class="material-symbols-outlined icon">
                                assignment
                            </span>
                            <span class="sidebarTitle">게시물 관리</span>
                        </div>
                        <span class="material-symbols-outlined more">
                            expand_more
                        </span>
                    </a>
                </li>
                <li class="sidebarCategory">
                    <a href="#">
                        <div>
                            <span class="material-symbols-outlined icon">
                                analytics
                            </span>
                            <span class="sidebarTitle">통계 현황</span>
                        </div>
                        <span class="material-symbols-outlined more">
                            expand_more
                        </span>
                    </a>
                </li>
            </ul>
        </div>
        <!-- sidebar -->

        <!-- content -->
        <div id="container">
            <div>
                <h2>게시물 목록</h2>
            </div>
            <div class="productSearchBox">
                <form id="productSearch">
                    <table>
                        <tr>
                            <th>기간</th>
                            <td colspan="3">
                                <div class="productRegisterDate">
                                    <a class="btnDate" href="">오늘</a>
                                    <a class="btnDate" href="">3일</a>
                                    <a class="btnDate" href="">7일</a>
                                    <a class="btnDate" href="">1개월</a>
                                    <a class="btnDate" href="">3개월</a>
                                    <a class="btnDate" href="">1년</a>
                                    <a class="btnDate" href="">전체</a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th>게시판 선택</th>
                            <td colspan="3">
                                <select>
                                    <option>전체</option>
                                    <option>공지사항</option>
                                    
                                </select>
                            </td>
                        </tr>
                        <tr>
                            
                        </tr>
                        <tr>
                            <th>게시글 찾기</th>
                            <td>
                            <select>
                                <option>제목</option>
                                <option>내용</option>
                            </select>
                            <input type="text" name="" id="">
                        </td>
                        </tr>
                    </table>
                    <div class="btnBox">
                        <button type="button" id="productSearchBtn">검색</button>
                    </div>
                </form>
            </div>

            <!-- 클래스명 변경 -->
            <div class="userList">
                <table>
                    <tr>
                        <div class="productListTitle">
                            <div>
                                <span>[총
                                    <strong>2</strong>
                                    개]</span>

                            </div>
                            <div>
                                <a href="" class="productListBtn">삭제</a>
                                <a href="" class="productListBtn">공지지정</a>
                                <a href="" class="productListBtn">공지해제</a>

                            
                            </div>
                        </div>
                    </tr>


                    <tr>
                        <!-- 생활, 주방, 욕실, 반려동물, 화장품, 식품, 문구, 원예  -->

                        <th scope="col"></th>
                        <th scope="col">번호</th>
                        <th scope="col">분류</th>
                        <th scope="col">제목</th>
                        <th scope="col">작성일</th>
                        <th scope="col">상태</th>
                        <th scope="col">상세보기</th>
                    </tr>
                    <tr>
                        <td><input type="checkbox"></td>
                        <td>1</td>
                        <td>공지사항</td>
                        <td>단체 사용자들 안내</td>
                        <td>2022-06-12</td>
                        <td>공지 지정</td>
                        <!-- 상품 상세보기로 이동 -->
                        <td><a href="#">상세보기</a></td>
                    </tr>
                    <tr>
                       
                    </tr>

                </table>

            </div>
            <!-- 페이징 처리 -->
            <div class="paging">
                <a href="#">&lt;</a>
                <a href="#">1</a>
                <a href="#">2</a>
                <a href="#">3</a>
                <a href="#">&gt;</a>
            </div>
        </div>


    </div>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
</script>

</html>