<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/admin_style.css">

    <title>게시물 목록</title>
</head>
<link rel="stylesheet" href="/assets/css/admin_style.css">
<link rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"/>
<!--
1. 검색명(상품명, 상품번호, )
2. 카테고리
3. 상품 등록일
4. 진열상태
5. 재고상태

 -->

<body>
<div th:replace="~{/admin/adminSideBar :: AdminSideBarImport}"></div>

<div class="root">
    <!-- content -->
    <div id="container">
        <div>
            <h2>게시물 목록</h2>
        </div>
        <div class="searchBox" id="boardSearchBox">
            <form id="boardSearchForm">
                <table>
                    <tr>
                        <th>기간</th>
                        <td>
                            <div id="my_calen">
                                <div class="main-cal">
                                    <form class="calen" action="#">

                                        <!-- search -->
                                        <table class="searchBoxCal">
                                            <colgroup>
                                                <col width="123px">
                                                <col width="*">
                                            </colgroup>
                                            <div class="calcal" >
                                                <ul class="searchDate" style="margin: 0; padding: 0; margin-bottom: 10px; display: flex; ">
                                                    <li>
                                                <span class="chkbox2">
                                                    <input type="radio" name="dateType" id="dateType1" onclick="setSearchDate('0d')"/>
                                                    <label for="dateType1">당일</label>
                                                </span>
                                                    </li>
                                                    <li>
                                                <span class="chkbox2">
                                                    <input type="radio" name="dateType" id="dateType3" onclick="setSearchDate('1w')"/>
                                                    <label for="dateType3">1주</label>
                                                </span>
                                                    </li>
                                                    <li>
                                                <span class="chkbox2">
                                                    <input type="radio" name="dateType" id="dateType4" onclick="setSearchDate('2w')"/>
                                                    <label for="dateType4">2주</label>
                                                </span>
                                                    </li>
                                                    <li>
                                                <span class="chkbox2">
                                                    <input type="radio" name="dateType" id="dateType5" onclick="setSearchDate('1m')"/>
                                                    <label for="dateType5">1개월</label>
                                                </span>
                                                    </li>
                                                    <li>
                                                <span class="chkbox2">
                                                    <input type="radio" name="dateType" id="dateType6" onclick="setSearchDate('3m')"/>
                                                    <label for="dateType6">3개월</label>
                                                </span>
                                                    </li>
                                                    <li>
                                                <span class="chkbox2">
                                                    <input type="radio" name="dateType" id="dateType7" onclick="setSearchDate('6m')"/>
                                                    <label for="dateType7">6개월</label>
                                                </span>
                                                    </li>
                                                    <li>
                                                <span class="chkbox2">
                                                    <input type="radio" name="dateType" id="dateType8" onclick="setSearchDate('1y')"/>
                                                    <label for="dateType8">1년</label>
                                                </span>
                                                    </li>
                                                </ul>

                                                <div class="clearfix">
                                                    <!-- 시작일 -->
                                                    <span class="dset">
                                                <input type="text" class="datepicker inpType" name="searchStartDate" id="searchStartDate" style="width: 140px;">
                                            </span>
                                                    <span class="demi">~</span>
                                                    <!-- 종료일 -->
                                                    <span class="dset">
                                                <input type="text" class="datepicker inpType" name="searchEndDate" id="searchEndDate" style="width: 140px;">
                                            </span>
                                                </div>
                                            </div>
                                        </table>
                                    </form>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>게시판 선택</th>
                        <td>
                            <select>
                                <option>전체</option>
                                <option>공지사항</option>
                                <option>크리에이터센터 문의</option>
                                <option>스토어 문의</option>
                                <option>프로젝트 문의</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th>게시글 찾기</th>
                        <td>
                            <select>
                                <option>제목</option>
                                <option>내용</option>
                                <option>작성자</option>
                            </select>
                            <input type="text" name="" id="">
                        </td>
                    </tr>
                    <tr>
                        <th>답변상태</th>
                        <td>
                            <span>전체</span><input type="radio" name="answerStatus" id="" checked>
                            <span>답변 대기</span><input type="radio" name="answerStatus" id="">
                            <span>답변 완료</span><input type="radio" name="answerStatus" id="">
                        </td>
                    </tr>
                </table>
                <div class="btnBox">
                    <button type="button" id="orderSearchBtn">검색</button>
                </div>
            </form>
        </div>

        <!-- 클래스명 변경 -->
        <div class="listBox">
            <table id="orderTbl">
                <tr>
                    <div class="listTitle">
                            <span>[총
                                <strong>2</strong>
                                개]</span>


                        <td colspan="12">
                            <div class="listTitle">
                                <a href="" class="listBtn">삭제</a>
                                <a href="" class="listBtn">공지지정</a>
                                <a href="" class="listBtn">공지해제</a>

                            </div>
                        </td>


                    </div>

                </tr>


                <tr>
                    <!-- 생활, 주방, 욕실, 반려동물, 화장품, 식품, 문구, 원예  -->

                    <th scope="col"></th>
                    <th scope="col">번호</th>
                    <th scope="col">분류</th>
                    <th scope="col">제목</th>
                    <th scope="col">작성일</th>
                    <th scope="col">상태</th>
                    <th scope="col">상세보기</th>
                </tr>
                <tr>
                    <td><input type="checkbox"></td>
                    <td>1</td>
                    <td>공지사항</td>
                    <td>단체 사용자들 안내</td>
                    <td>2022-06-12</td>
                    <td>공지 지정</td>
                    <!-- 상품 상세보기로 이동 -->
                    <td><a href="#">상세보기</a></td>
                </tr>
                <tr>

                </tr>

            </table>

        </div>
        <!-- 페이징 처리 -->
        <div class="paging">
            <a href="#">&lt;</a>
            <a href="#">1</a>
            <a href="#">2</a>
            <a href="#">3</a>
            <a href="#">&gt;</a>
        </div>
    </div>


</div>

</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="http://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
<!-- datepicker 한국어로 -->
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/i18n/datepicker-ko.js"></script>
<script>
    $(document).ready(function() {
        //datepicker 한국어로 사용하기 위한 언어설정
        $.datepicker.setDefaults($.datepicker.regional['ko']);
        // Datepicker
        $(".datepicker").datepicker({
            showButtonPanel: true,
            dateFormat: "yy-mm-dd",
            onClose : function ( selectedDate ) {
                var eleId = $(this).attr("id");
                var optionName = "";
                if(eleId.indexOf("StartDate") > 0) {
                    eleId = eleId.replace("StartDate", "EndDate");
                    optionName = "minDate";
                } else {
                    eleId = eleId.replace("EndDate", "StartDate");
                    optionName = "maxDate";
                }
                $("#"+eleId).datepicker( "option", optionName, selectedDate );
                $(".searchDate").find(".chkbox2").removeClass("on");
            }
        });
        //시작일.
        $('#searchStartDate').datepicker("option","onClose", function( selectedDate ) {
            // 시작일 datepicker가 닫힐때
            // 종료일의 선택할수있는 최소 날짜(minDate)를 선택한 시작일로 지정
            $("#searchEndDate").datepicker( "option", "minDate", selectedDate );
            $(".searchDate").find(".chkbox2").removeClass("on");
        });
        //종료일.
        $('#searchEndDate').datepicker("option","onClose", function( selectedDate ) {
            // 종료일 datepicker가 닫힐때
            // 시작일의 선택할수있는 최대 날짜(maxDate)를 선택한 종료일로 지정
            $("#searchStartDate").datepicker( "option", "maxDate", selectedDate );
            $(".searchDate").find(".chkbox2").removeClass("on");
        });
        $(".dateclick").dateclick();    // DateClick
        $(".searchDate").schDate();        // searchDate
    });
    // Search Date
    jQuery.fn.schDate = function(){
        var $obj = $(this);
        var $chk = $obj.find("input[type=radio]");
        $chk.click(function(){
            $('input:not(:checked)').parent(".chkbox2").removeClass("on");
            $('input:checked').parent(".chkbox2").addClass("on");
        });
    };
    // DateClick
    jQuery.fn.dateclick = function(){
        var $obj = $(this);
        $obj.click(function(){
            $(this).parent().find("input").focus();
        });
    }
    function setSearchDate(start){
        var num = start.substring(0,1);
        var str = start.substring(1,2);
        var today = new Date();
        var year = today.getFullYear();
        var month = today.getMonth() + 1;
        var day = today.getDate();
        var endDate = $.datepicker.formatDate('yy-mm-dd', today);
        $('#searchEndDate').val(endDate);
        if(str == 'd'){
            today.setDate(today.getDate() - num);
        }else if (str == 'w'){
            today.setDate(today.getDate() - (num*7));
        }else if (str == 'y'){
            today.setDate(today.getDate() -(num*364));
        }else if (str == 'm'){
            today.setMonth(today.getMonth() - num);
            today.setDate(today.getDate() + 1);
        }
        var startDate = $.datepicker.formatDate('yy-mm-dd', today);
        $('#searchStartDate').val(startDate);
        // 종료일은 시작일 이전 날짜 선택하지 못하도록 비활성화
        $("#searchEndDate").datepicker( "option", "minDate", startDate );
        // 시작일은 종료일 이후 날짜 선택하지 못하도록 비활성화
        $("#searchStartDate").datepicker( "option", "maxDate", endDate );
    }
</script>

<script>


    // 삭제 버튼 클릭시


    // 공지 지정 버튼 클릭시


    // 공지 해제 버튼 클릭시


</script>
<script th:replace="~{/admin/adminSideBar :: AdminSideBarJSImport}"></script>
</html>