<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="/src/main/resources/static/assets/css/productRegister.css">
    <link rel="stylesheet" href="/src/main/resources/static/assets/css/adminSidebar.css">
    <link rel="stylesheet" href="/src/main/resources/static/assets/css/adminHeader.css">
    <link rel="stylesheet" href="/src/main/resources/static/assets/css/Header.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />


    <!-- <link rel="stylesheet" href="/assets/css/productRegister.css">
    <link rel="stylesheet" href="/assets/css/adminSidebar.css">
    <link rel="stylesheet" href="/assets/css/adminHeader.css">
    <link rel="stylesheet" href="/assets/css/Header.css"> -->
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"/>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- include libraries(jQuery, bootstrap) -->
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css" rel="stylesheet">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.js"></script>

    <!-- include summernote css/js-->
    <link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.8/summernote.css" rel="stylesheet">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.8/summernote.js"></script>


</head>
<style>
      label#kim > div{
            width: 100px;
            height: 100px;
            background-image: url("");
            background-size: 100% 100%;
            cursor: pointer;
            margin-right: 10px;
            border: 1px solid;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
        }
        label#kim .md{
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 30px;
            background-color: rgba(11, 11, 11, 0.09);
            display: none;
            justify-content: space-between;
        }

        .md div{
            height: 100%;
            width: 49%;
            opacity: 0.5;
        }
        .md div button{
            position: relative;
            height: 30px;
            width: 100%;
            border: none;
        }
        .md div button:hover{
            background-color: gray;
        }
        .mimg, .dimg{
            text-align: center;
        }
</style>
<body>

    <div class="wrap">
    
        <div class="root">
            <div id="sidebar">       </div>
            <!-- sidebar -->
    
    
            
                <div class="content">
                    <!-- content -->
                    <div class="product">
                        <!-- product register -->
                        <div class="register">
                            <!-- 상품등록 -->
                            <h1>상품등록</h1>
                        </div>
                        <!-- <div class="flow">
                            <ol>
                                <li class="home">홈</li>
                                <li class="">상품관리</li>
                                <li>상품등록</li>
                            </ol>
                        </div> -->
                    </div>
    
                    <form action="" class="formlayout" enctype="multipart/form-data">
                        <div class="togglebar">
                            <!-- togglebar -->
                            <h2>기본정보</h2>
                        </div>
    
                        <div class="toggleArea">
                            <!-- togglecontent -->
                            <table >
    
                                <tbody>
                                <tr>
                                    <th>상품명
                                    </th>
                                    <td style="display: flex;">
                                        <input class="productName" type="text" name="product_name" required="required" placeholder="예시 ">
                                        
                                        <div class="count">
                                            [<p class="textCount"> 0</p>
                                            /
                                            <p class="textTotal"> 250</p>]
                                        </div>
                                    </td>
    
                                </tr>
                                <tr>
                                    <th scope='row'>상품가격
                                    </th>
                                    <td>
                                        <input class="pay" type="text" name="product_name" required="required">point
    
                                    </td>
                                </tr>
                                <tr>
                                    <th>상품카테고리
                                    </th>
                                    <td>
                                        <input class="check" type="checkbox">
                                        <label for="">생활</label>
    
                                        <input class="check" type="checkbox">
                                        <label for="">주방</label>
    
                                        <input class="check" type="checkbox">
                                        <label for="">욕실</label>
    
                                        <input class="check" type="checkbox">
                                        <label for="">반려동물</label>
    
                                        <input class="check" type="checkbox">
                                        <label for="">화장품</label>
    
                                        <input class="check" type="checkbox">
                                        <label for="">식품</label>
    
                                        <input class="check" type="checkbox">
                                        <label for="">문구</label>
    
                                        <input class="check" type="checkbox">
                                        <label for="">원예</label>
                                    </td>
                                </tr>
    
                                <tr>
                                    <th>상품요약
                                    </th>
                                    <td style="display: flex;">
                                        <input class="summary"  required="required">
                                        <div class="count">
                                            [<p class="textCount"> 0</p>
                                            /
                                            <p class="textTotal"> 250</p>]
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th>상품 상세 내용
                                    </th>
                                    <td>
    
                                        <textarea name="content" id="summernote" class="summernote" required="required"></textarea>
                                    </td>
                                </tr>
    
                                <tr>
                                    <th>상품재고
                                    </th>
                                    <td>
                                        <input class="pay" type="text" name="product_name" required="required">개
                                    </td>
                                </tr>
                                <tr>
                                    <th rowspan="2">상품 이미지</th>
                                    <td>
                                        <h5>대표이미지</h5>
                                        <div class="bigThumb largeImg">
                                            <label for="attach">
                                                <div id="box" class="imgIcon">
                                                    <span></span>
                                                </div>
                                            </label>
                                            <input type="file" id="attach" style="display: none;">
                                        </div>   
                                            <ul class="textInfo">
                                                <li>
                                                    -등록이미지 : 5M이하 / gif, png, jpg(jpeg)
                                                </li>
                                            </ul>
                                        
                                        
                                    </td>
                                </tr>
    
                                <tr>
                                    
                                    <td>
                                        <span class="detailImg">추가이미지</span>
                                        <div class="extraImg">
                                            <ul style="display: flex;">
                                                <li >
                                                    <div class="bigThumb ">
                                                        <label for="attach">
                                                            <div id="box" class="imgIcon smallImg">
                                                                <span></span>
                                                            </div>
                                                        </label>
                                                        <input type="file" id="attach" style="display: none;">
                                                    </div>
                                                    
                                                    
                                                    
                                                </li>
                                                <li>
                                                    <div class="bigThumb ">
                                                        <label for="attach">
                                                            <div id="box" class="imgIcon smallImg">
                                                                <span></span>
                                                            </div>
                                                        </label>
                                                        <input type="file" id="attach" style="display: none;">
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="bigThumb ">
                                                        <label for="attach">
                                                            <div id="box" class="imgIcon smallImg">
                                                                <span></span>
                                                            </div>
                                                        </label>
                                                        <input type="file" id="attach" style="display: none;">
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="bigThumb ">
                                                        <label for="attach">
                                                            <div id="box" class="imgIcon smallImg">
                                                                <span></span>
                                                            </div>
                                                        </label>
                                                        <input type="file" id="attach" style="display: none;">
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                        <ul class="textInfo">
                                            <li>
                                                -권장이미지 : 500px * 500px / 1M이하 / gif, png, jpg(jpeg) / 4개까지 추가 가능
                                            </li>
                                        </ul>
    
                                    </td>
                                </tr>
    
    
                                <tr>
                                    <th>제조사
                                    </th>
                                    <td>
                                        <input class="" type="text" name="product_name" required="required" placeholder="제조사 이름">
                                    </td>
                                </tr>
                                <tr>
                                    <th>공급사
                                    </th>
                                    <td>
                                        <input class="" type="text" name="product_name" required="required" placeholder="공급사 이름">
                                    </td>
                                </tr>
                                <tr>
                                    <th>원산지
                                    </th>
                                    <td>
                                        <input class="" type="text" name="product_name" required="required" placeholder="원산지 이름">
                                    </td>
                                </tr>
                                </tbody>
                            </table>
    
                        </div>
    
                        <div class="submitbtn">
                            <!-- button -->
                            <button>상품등록</button>
                            <button onclick="handleOnClick()"
                                    value="confirm">취소</button>
    
                        </div>
                    </form>
                </div>
            
        </div>
    </div>
</body>

<script>
    $('.productName').keyup(function (e) {
        let content = $(this).val();

        // 글자수 세기
        if (content.length == 0 || content == '') {
            $('.textCount').text('0');
        } else {
            $('.textCount').text(content.length);
        }

        // 글자수 제한
        if (content.length > 250) {
            // 250자 부터는 타이핑 되지 않도록
            $(this).val($(this).val().substring(0, 250));
            // 250자 넘으면 알림창 뜨도록
            alert('글자수는 250자까지 입력 가능합니다.');
        }
        ;
    });


    $(document).ready(function () {
        $('#summernote').summernote();
    });

    function handleOnClick() {
        let like = confirm("정말 취소하시겠습니까?");
        document.getElementById('result').innerText = like;
    }


    // 강사님


    //메인 이미지
    //첨부파일 input태그 가져오기
    const mfile = document.querySelector("input#attach_main");
    const mthumbnail = document.querySelector("label[for='attach_main'] div");

    //첨부파일이 등록되었다면 change이벤트 발생
    mfile.addEventListener("change", function (event) {
        //특정 경로의 파일을 읽어올 때 사용.
        let reader = new FileReader();

        //파일정보를 전달하여 reader객체에 등록한다.
        reader.readAsDataURL(event.target.files[0]);
        //등록이 되었다면 reader객체의 load 이벤트가 발생한다.
        reader.onload = function (event) {
            //등록된 파일의 경로에 작성된 파일의 타입검사
            if (event.target.result.includes("image")) {
                console.log("이미지 파일입니다.");
                //등록된 파일의 경로로 대체
                mthumbnail.style.backgroundImage = "url(\"" + event.target.result + "\")";
            } else {
                console.log("이미지 파일이 아닙니다.");
                //미리 준비해놓은 이미지 경로로 대체
                mthumbnail.style.backgroundImage = "url(img/no_image.png)";
            }
        }
    });

    //추가이미지
    //첨부파일 input태그 가져오기
    const file = document.querySelector("input#attach_kim");
    const thumbnail = document.querySelectorAll("label#kim > div");

    //첨부파일이 등록되었다면 change이벤트 발생
    file.addEventListener("change", function(event){
        //특정 경로의 파일을 읽어올 때 사용.
        for(let i=0;i<file.files.length;i++){
        let reader = new FileReader();
        //파일정보를 전달하여 reader객체에 등록한다.
        reader.readAsDataURL(event.target.files[i]);
        //등록이 되었다면 reader객체의 load 이벤트가 발생한다.
        reader.onload = function(event){
            //등록된 파일의 경로에 작성된 파일의 타입검사
            if(event.target.result.includes("image")){
                console.log("이미지 파일입니다.");
                //등록된 파일의 경로로 대체
                $(".bi").text("");
                thumbnail[i].style.backgroundImage = "url(\"" + event.target.result + "\")";
            }else{
                console.log("이미지 파일이 아닙니다.");
                //미리 준비해놓은 이미지 경로로 대체
                thumbnail[i].style.backgroundImage = "url(img/no_image.png)";
            }
        }
        };
    });
    
    const thumb_kim = document.querySelectorAll("label#kim > div");

    $(thumb_kim).mouseover(function(){
      $(this).find(".md").css("display","flex");
    })
    $(thumb_kim).mouseout(function(){
        $(this).find(".md").css("display","none");
    })

</script>


</html>