<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>관리자 프로젝트 생성</title>
</head>
<link rel="stylesheet" href="/assets/css/admin_style.css">
<link rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"/>

<body>

<!--
1.프로젝트 번호
2.프로젝트 제목
3.프로젝트 내용
3. 프로젝트 작성자
4. 프로젝트 유형
5. 프로젝트 지형
6. 프로젝트 출발지
   프로젝트 도착지
7. 프로젝트 포인트
8. 프로젝트 승인여부
9. 프로젝트 동록날짜
10. 프로젝트 상태
11. 프로젝트 수정날짜
12. 출발시간
13. 도착시간

-->
<div class="root">

    <!-- sidebar -->
    <div th:replace="~{/admin/adminSideBar :: AdminSideBarImport}"></div>
    <!-- sidebar -->

    <!-- content -->
    <div id="container">
        <div>
            <h2>프로젝트 등록</h2>
        </div>
        <div class="searchBox">
            <form id="projectCreateForm">
                <table class="projectCreateTbl">
                    <tr>
                        <th colspan="3">유형선택</th>
                        <td colspan="4">
                            <select>
                                <option>코스</option>
                                <option>장소</option>
                            </select>
                            <select>
                                <option>지형</option>
                                <option>산</option>
                                <option>바다</option>
                                <option>평지</option>
                                <option>기타</option>
                            </select>

                        </td>
                    </tr>
                    <tr>
                        <th colspan="3">플로깅제목</th>
                        <td colspan="4">
                            <input type="text" name="" id="projectTitle">
                            <span title="현재글자수/최대글자수">[
                                    <strong id="titleCount">0</strong>
                                    / 250 ]
                                </span>
                            <span id="projectTitleCheck">제목을
                                    입력해주세요</span>
                        </td>
                    </tr>
                    <tr>
                        <th colspan="3">플로깅내용</th>
                        <td colspan="4"><textarea name="" id="" cols="100" rows="5" required></textarea></td>
                    </tr>
                    <tr>
                        <!-- 코스일 경우 출발지, 도착지, 장소일 경우 주소 -->
                        <th colspan="3">주소</th>

                        <td colspan="4">
                            <div class="locationBox">
                                <div>
                                    <button type="button" class="locationBtn" id="startPoint">주소검색</button>
                                    <span>출발지: </span><span class="startPoint"></span>
                                    <input type="text" name="" id="startPoint" hidden>
                                </div>

                                <div>
                                    <button type="button" class="locationBtn" id="endPoint">주소검색</button>
                                    <span>도착지: </span><span class="endPoint"></span>
                                </div>
                                <input type="text" name="" id="endPoint" hidden>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th colspan="3">플로깅이미지</th>
                        <td colspan="4"><input type="file" name="" id="" required></td>
                    </tr>
                    <tr>

                        <th colspan="3">일정</th>
                        <td colspan="1" style="width: 40px; text-align: center;">
                            시작
                        </td>
                        <td colspan="1" style="width: 300px;"><input type="datetime-local" name="" id=""
                                                                     class="dateSelect" required></td>
                        <td colspan="1" style="width: 40px; text-align: center;">종료</td>
                        <td colspan="1" style="width: 300px;"><input type="datetime-local" name="" id=""
                                                                     class="dateSelect" required></td>
                    </tr>
                    <tr>
                        <th colspan="3">포인트</th>
                        <td colspan="4"><input type="number" name="" id="" required><span> point</span></td>
                    </tr>

                    <tr>
                        <th colspan="3">모집자 정보</th>
                        <td colspan="4"><textarea name="" id="" cols="100" rows="5" required></textarea></td>

                    </tr>
                    <tr>
                        <th colspan="3">모집자 정보 첨부파일</th>
                        <td colspan="4"><input type="file" name="" id="" required></td>
                    </tr>
                </table>
                <div class="btnBox">
                    <button type="button" id="productSearchBtn">프로젝트 등록</button>
                </div>
            </form>
        </div>

        <!-- 클래스명 변경 -->

    </div>
</div>

</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script>

    $(document).ready(function () {
        $('#sidebar').load("adminSideBar.html");

    });

    function getAddress(point) {
        new daum.Postcode({
            oncomplete: function (data) {
                // 주소 검색시 span 태그 html 변경
                $('.' + point).html(data.address);
                // 주소 검색시 input 태그 value 변경
                $('input#' + point).val(data.address);
            }
        }).open();
    }

    $('button.locationBtn').on("click", function () {
        let point = $(this).attr('id');
        getAddress(point);
    })


    // 유효성 검사

    // 제목

    $('#projectTitle').blur(function () {
        let projectTitle = $('#projectTitle').val();
        if (!projectTitle) {
            $('#projectTitleCheck').css('display', 'block');
        }
    });

    $('#projectTitle').keypress(function () {
        console.log('hello');
        let projectTitle = $('#projectTitle').val();
        if (projectTitle) {
            $('#projectTitleCheck').css('display', 'none');
        }
        $('#titleCount').html(projectTitle.length);
    });


    let projectCreateForm = $('#projectCreateForm');
    // 이상없을시 제출
    $('#productSearchBtn').on("click", function () {
        projectCreateForm.submit();
    })
</script>
<script th:replace="~{/admin/adminSideBar :: AdminSideBarJSImport}"></script>
</html>