<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>유저정보</title>
</head>
<link rel="stylesheet" href="/assets/css/admin_style.css">
<link rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"/>

<body>
<div class="root">

    <!-- sidebar -->
    <div th:replace="~{/admin/adminSideBar :: adminSideBarImport}"></div>

    <!-- content -->
    <div id="container">
        <div>
            <h2>유저정보</h2>
        </div>
        <div class="listBox" id="userDetail">
            <div>
                <h2>기본정보</h2>
            </div>
            <table id="basicInfo">
                <form>
                    <tr>
                        <th>아이디</th>
                        <td>gil@naver.com</td>
                    </tr>
                    <tr>
                        <th>단체명</th>
                        <td>장미봉사단</td>
                    </tr>
                    <tr>
                        <th>담당자 전화번호</th>
                        <td><input type="text" name="" id="" value="02-123-1234"></td>

                    </tr>
                    <tr>
                        <th>단체 전화번호</th>
                        <td><input type="text" name="" id="" value="02-123-1234"></td>
                    </tr>
                    <tr>
                        <th>단체주소</th>
                        <td><input type="text" name="" id="" value="서울시 강남구 테헤란로 146"></td>
                    </tr>
                    <tr>
                        <th>단체 사업자번호</th>
                        <td><input type="text" name="" id="" value="111-11-11111"></td>
                    </tr>
                </form>
                <tr>
                    <th>등록날짜</th>
                    <td>2021-06-13 17:29</td>
                </tr>
                <tr>
                    <th>상태</th>
                    <td>
                        <span>활성화</span>
                        <a href="#">비활성화</a>
                    </td>
                </tr>
                <tr>
                    <th>승인여부</th>
                    <td>
                        <span>승인</span>
                        <a href="">승인해제</a>
                    </td>
                </tr>
            </table>

            <div>
                <h2>사용정보</h2>
            </div>

            <table id="pointInfo">
                <tr>
                    <th>총적립급</th>
                    <td>120point</td>
                </tr>
                <tr>
                    <th>회원가입일</th>
                    <td>2022-06-11 19:00</td>
                </tr>
                <tr>
                    <th>최근접속일</th>
                    <td>2022-06-13 20:00</td>
                </tr>
            </table>
            <div>
                <button type="button">수정</button>
            </div>

        </div>
    </div>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>

    $(document).ready(function () {
        $('#sidebar').load("adminSideBar.html");

    })
</script>

</html>