<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>유저정보</title>
</head>
<link rel="stylesheet" href="/assets/css/admin_style.css">
<link rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"/>

<body>
<div class="root">

    <!-- sidebar -->
    <div th:replace="~{/admin/adminSideBar :: AdminSideBarImport}"></div>

    <!-- content -->
    <div id="container">
        <div>
            <h2>유저정보</h2>
        </div>
        <div class="listBox" id="userDetail">
            <div>
                <h2>기본정보</h2>
            </div>
            <table id="basicInfo" th:object="${detailVO}">
                <form>
                    <tr>
                        <th>아이디</th>
                        <td th:if="*{category}=='user'" th:text="*{email}"></td>
                        <td th:if="*{category}=='company'" th:text="*{email}"></td>
                    </tr>
                    <tr>
                        <th th:if="*{category}=='user'" th:text="닉네임"></th>
                        <th th:if="*{category}=='company'" th:text="단체명"></th>
                        <td><input type="text" name="" id="" th:value="*{nickname}"></td>
                    </tr>
                    <tr>
                        <th th:if="*{category}=='user'" th:text="전화번호"></th>
                        <th th:if="*{category}=='company'" th:text="단체번호"></th>
                        <td><input type="text" name="" id="" th:value="*{phone}"></td>

                    </tr>
                    <tr>
                        <th th:if="*{category}=='user'" th:text="회원주소"></th>
                        <th th:if="*{category}=='company'" th:text="단체주소"></th>
                        <td><input type="text" name="" id="" th:value="*{address}"></td>
                    </tr>
                    <tr>
                        <th th:if="*{category}=='user'" th:text="사업자번호"></th>
                        <th th:if="*{category}=='company'" th:text="사업자번호"></th>
                        <td><input type="text" name="" id="" th:if="*{category}=='company'" th:value="*{businessNumber}">
                        <input type="text" name="" id=""  th:if="*{category}=='user'" value="일반 회원은 사업자 번호가 없습니다"></td>
                    </tr>
                </form>
                <tr>
                    <th>등록날짜</th>
                    <td th:text="*{registDate}"></td>
                </tr>
                <tr>
                    <th>상태</th>
                    <td>
                        <span>활성화</span>
                        <a href="#">비활성화</a>
                    </td>
                </tr>
                <tr>
                    <th>승인여부</th>
                    <td>
                        <span>승인</span>
                        <a href="">승인해제</a>
                    </td>
                </tr>
            </table>
            <div>
                <h2>사용정보</h2>
            </div>

            <table id="pointInfo">
                <tr>
                    <th>총적립급</th>
                    <td>120point</td>
                </tr>
                <tr>
                    <th>회원가입일</th>
                    <td>2022-06-11 19:00</td>
                </tr>
                <tr>
                    <th>최근접속일</th>
                    <td>2022-06-13 20:00</td>
                </tr>
            </table>
            <div>
                <button type="button">수정</button>
            </div>

        </div>
    </div>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script th:replace="~{/admin/adminSideBar :: AdminSideBarJSImport}"></script>

</html>