<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.pickitup.mapper.project.projectFile.ProjectMapper">

    <!-- 프로젝트 전체 목록   -->
<!--    <select id="getList" resultType="projectVO">-->
<!--    SELECT NUM, TITLE, CONTENT, COURSE, TERRAIN, POINT, APPROVAL, STARTTIME, ENDTIME, START_ADDRESS, END_ADDRESS, DISTANCE, QR, REGIST_DATE, UPDATE_DATE, STATUS, COMPANY_NUM, USER_NUM-->
<!--    FROM TBL_PROJECT-->
<!--    </select>-->

<!--    관리자용 프로젝트 전체 목록 불러오기-->
    <select id="getProjectList" resultType="projectDTO">
        SELECT RN,NUM,TITLE,CONTENT,TERRAIN,POINT,APPROVAL,REGIST_DATE,QR,UPDATE_DATE,START_ADDRESS,END_ADDRESS,NICKNAME,STARTTIME,ENDTIME,COURSE
        FROM
        (
        SELECT ROWNUM RN, P.NUM AS NUM,P.TITLE AS TITLE,P.CONTENT AS CONTENT,P.TERRAIN TERRAIN ,P.POINT AS POINT,P.APPROVAL AS APPROVAL ,P.REGIST_DATE AS REGIST_DATE ,P.QR AS QR,P.UPDATE_DATE AS UPDATE_DATE ,P.COMPANY_NUM AS C ,P.START_ADDRESS AS START_ADDRESS, P.END_ADDRESS AS END_ADDRESS, C.NICKNAME AS NICKNAME,P.STARTTIME AS STARTTIME ,P.ENDTIME AS ENDTIME,P.COURSE AS COURSE
        FROM TBL_PROJECT  P ,TBL_COMPANY  C
        WHERE P.COMPANY_NUM = C.NUM
        <![CDATA[
        AND ROWNUM <= #{pageNum} * #{amount}
            ]]>
        )
        WHERE RN > (#{pageNum} - 1) * #{amount}
        <choose>
            <when test="type=='title'.toString()">
                AND TITLE LIKE '%'||#{keyword}||'%'
            </when>
            <when test="type=='num'.toString()">
                AND NUM LIKE '%'||#{keyword}||'%'
            </when>
            <when test="type=='startAddress'.toString()">
                AND START_ADDRESS LIKE '%'||#{keyword}||'%'
            </when>
            <when test="type=='nickname'.toString()">
                AND NICKNAME LIKE '%'||#{keyword}||'%'
            </when>
        </choose>
        <choose>
            <when test="type1=='mountain'.toString()">
                AND TERRAIN = '1'
            </when>
            <when test="type1=='coast'.toString()">
                AND TERRAIN = '2'
            </when>
            <when test="type1=='ground'.toString()">
                AND TERRAIN = '3'
            </when>
            <when test="type1=='etc'.toString()">
                AND TERRAIN = '4'
            </when>
        </choose>
        <choose>
            <when test="type2=='registDate1'.toString() and startDate != null  ">
                AND (REGIST_DATE BETWEEN #{startDate} AND #{endDate})
            </when>
            <when test="type2=='startDate1'.toString() and startDate != null">
                AND (STARTTIME BETWEEN #{startDate} AND #{endDate})
            </when>
            <when test="type2=='endDate1'.toString() and startDate != null">
                AND (ENDTIME BETWEEN #{startDate} AND #{endDate})
            </when>
            <when test="type2=='updateDate1'.toString() and startDate != null">
                AND (UPDATE_DATE BETWEEN #{startDate} AND #{endDate})
            </when>
        </choose>

    </select>

    <select id="getProjectTotal" resultType="_int">
        SELECT COUNT(NUM)
        FROM
        (
        SELECT ROWNUM RN, P.NUM AS NUM,P.TITLE AS TITLE,P.CONTENT AS CONTENT,P.TERRAIN TERRAIN ,P.POINT AS POINT,P.APPROVAL AS APPROVAL ,P.REGIST_DATE AS REGIST_DATE ,P.QR AS QR,P.UPDATE_DATE AS UPDATE_DATE ,P.COMPANY_NUM AS C ,P.START_ADDRESS AS START_ADDRESS, P.END_ADDRESS AS END_ADDRESS, C.NICKNAME AS NICKNAME,P.STARTTIME AS STARTTIME ,P.ENDTIME AS ENDTIME
        FROM TBL_PROJECT  P ,TBL_COMPANY  C
        WHERE P.COMPANY_NUM = C.NUM
        )
        <choose>
            <when test="type=='title'.toString()">
                WHERE TITLE LIKE '%'||#{keyword}||'%'
            </when>
            <when test="type=='num'.toString()">
                WHERE NUM LIKE '%'||#{keyword}||'%'
            </when>
            <when test="type=='startAddress'.toString()">
                WHERE START_ADDRESS LIKE '%'||#{keyword}||'%'
            </when>
            <when test="type=='nickname'.toString()">
                WHERE NICKNAME LIKE '%'||#{keyword}||'%'
            </when>
        </choose>
        <choose>
            <when test="type1=='mountain'.toString()">
                AND TERRAIN = '1'
            </when>
            <when test="type1=='coast'.toString()">
                AND TERRAIN = '2'
            </when>
            <when test="type1=='ground'.toString()">
                AND TERRAIN = '3'
            </when>
            <when test="type1=='etc'.toString()">
                AND TERRAIN = '4'
            </when>
        </choose>
        <choose>
            <when test="type2=='registDate1'.toString() and startDate != null">
                AND (REGIST_DATE BETWEEN #{startDate} AND #{endDate})
            </when>
            <when test="type2=='startDate1'.toString() and startDate != null">
                AND (STARTTIME BETWEEN #{startDate} AND #{endDate})
            </when>
            <when test="type2=='endDate1'.toString() and startDate != null">
                AND (ENDTIME BETWEEN #{startDate} AND #{endDate})
            </when>
            <when test="type2=='updateDate1'.toString() and startDate != null">
                AND (UPDATE_DATE BETWEEN #{startDate} AND #{endDate})
            </when>
        </choose>
    </select>

    <!--  특정 유저가 신청한 프로젝트 목록 -->
    <select id="getUserProjectList" resultType="projectVO">
    SELECT NUM, TITLE, CONTENT, COURSE, TERRAIN, POINT, APPROVAL, STARTTIME, ENDTIME, START_ADDRESS, END_ADDRESS, DISTANCE, QR, REGIST_DATE, UPDATE_DATE, STATUS, COMPANY_NUM, USER_NUM
    FROM TBL_PROJECT WHERE COMPANY_NUM = #{companyNum}
    </select>

    <!-- 프로젝트 상세 정보  -->
    <select id="getDetail" resultType="projectVO">
    SELECT NUM, TITLE, CONTENT, COURSE, TERRAIN, POINT, APPROVAL, STARTTIME, ENDTIME, START_ADDRESS, END_ADDRESS, DISTANCE, QR, REGIST_DATE, UPDATE_DATE, STATUS, COMPANY_NUM, USER_NUM
    FROM TBL_PROJECT WHERE NUM = #{num}
    </select>

    <!-- 프로젝트 등록  -->
    <insert id="insert" parameterType="projectVO">
    INSERT INTO TBL_PROJECT
    (NUM, TITLE, CONTENT, COURSE, TERRAIN, POINT, APPROVAL, STARTTIME, ENDTIME, START_ADDRESS, END_ADDRESS, DISTANCE, QR, REGIST_DATE, UPDATE_DATE, STATUS, COMPANY_NUM, USER_NUM)
    VALUES
    (SEQ_PROJECT.NEXTVAL, #{title}, #{content}, #{course}, #{terrain}, #{point}, #{approval}, #{startTime} , #{endTime}, #{startAddress}, #{endAddress}, #{distance}, #{qr}, SYSDATE, SYSDATE, '1' , #{companyNum}, #{userNum})
    </insert>

    <!-- 프로젝트 수정  -->
    <update id="update" parameterType="projectVO">
    UPDATE TBL_PROJECT
    SET
    TITLE = #{title}, CONTENT = #{content}, COURSE = #{course}, TERRAIN = #{terrain}, POINT = #{point}, APPROVAL = #{approval}, STARTTIME = #{startTime} , ENDTIME = #{endTime},
    START_ADDRESS = #{startAddress}, END_ADDRESS = #{endAddress}, DISTANCE = #{distance}, QR = #{qr}, UPDATE_DATE = SYSDATE, STATUS = #{status}
    WHERE NUM = #{num}
    </update>

    <!-- 프로젝트 삭제 -->
    <delete id="delete" parameterType="long">
    DELETE FROM TBL_PROJECT WHERE NUM = #{num}
    </delete>


    <!-- 프로젝트 찜순 목록(상위 10개)   -->
    <select id="getListJJim" resultType="projectVO">
    <![CDATA[
        SELECT NUM, TITLE, project_Date, JJIM_COUNT
        FROM (
            SELECT * FROM TBL_PROJECT  ORDER BY JJIM_COUNT DESC
        )
        WHERE ROWNUM <=10
        ]]>
    </select>

    <!-- 프로젝트 포인트순 목록(상위 10개)   -->
    <select id="getListPoint" resultType="projectVO">
    <![CDATA[
        SELECT NUM, TITLE, project_Date, POINT
        FROM (
            SELECT * FROM TBL_PROJECT  ORDER BY POINT DESC
        )
        WHERE ROWNUM <=10
        ]]>
    </select>

    <!-- 프로젝트 참가자순 목록   -->
    <select id="getListApply" resultType="projectVO">
    <![CDATA[
    select *
    from(
    SELECT * FROM
        (SELECT PROJECT_NUM, COUNT(PROJECT_NUM) APPLYCOUNT  FROM TBL_APPLY a
        GROUP BY a.PROJECT_NUM) a JOIN TBL_PROJECT p
        ON a.PROJECT_NUM = p.NUM
        ORDER BY APPLYCOUNT DESC)
        WHERE ROWNUM <=10
        ]]>
    </select>

    <!--    -->
    <!--    <select id="test">-->
    <!--        SELECT UUID, UPLOAD_PATH, FILE_NAME-->
    <!--        FROM TBL_PROJECT_FILE-->
    <!--        WHERE PROJECT_NUM = #{NUM}-->
    <!--    </select>-->

</mapper>

