@font-face {
    font-family: 'Openas';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_nine_@1.1/Openas.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

@font-face {
    font-family: 'SDSamliphopangche_Basic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/SDSamliphopangche_Basic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.header-wrap{
    position: sticky;
    top: 0;
    z-index: 10;
}

.header{
    border-radius: 0;
    width: 100%;
    height: auto;
    background-color: #FFFFFF;
    border-color: #E5E5E5;
    z-index: 101;
    top: 0;
    left: 0;
    position: sticky;
    display: block;


}
.header1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header2{
    display: flex;
    max-width: 1176px;
    width: calc(100% - 40px);
    margin-left: 20px;
    margin-right: 20px;
    align-items: stretch;
    flex-direction: column;
}
.header3{
    height: 78px;
    display: flex;
    width: 100%;
    flex-direction: row;
    position: relative;
}
.header3 > a {
    color: black;
    text-decoration-line: none;
}
.logo-wrap{
    display: block;
    align-items: stretch;
    flex-direction: column;
}
.logo-font{
    font-family:'Openas';
    display: block;
    width: auto;
    height: 24px;
    FONT-WEIGHT: 600;
    font-size: 25px;
    padding-top: 33%;
}
.empty-space{
    width:36px;
    display: flex;
    height:0;
}
.menu-search-wrap{
    margin-right: 32px;
    display: flex;
    flex: 1;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%;
    align-items: stretch;
    flex-direction: row;
}
.menu-wrap{
    display: flex;
    align-items: center;
    flex-direction: row;
}
.menu-plogging{
    font-family: 'SDSamliphopangche_Basic';
    border-width: 0;
    color: #1F89FF;
    margin: 0;
    padding: 0;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.625rem;
    white-space: nowrap;
    text-decoration-line: none;
}

.menu-space{
    width: 16px;
    height: 0;
    flex-grow: 0;
    flex-shrink: 0;
}
.menu-store{
    font-family: 'SDSamliphopangche_Basic';
    border-width: 0;
    color: #1A1A1A;
    margin: 0;
    padding: 0;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.625rem;
    white-space: nowrap;
    text-decoration-line: none;
}
h4> .menu-store{
    text-decoration-line: none;
}
.search-box{
    max-width: 380px;
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: row;
}
.search-box1{
    display: flex;
    width: 100%;
    align-items: stretch;
    flex-direction: column;
}
.search-box2{
    display: flex;
    align-items: center;
    flex-direction: row;
}
.search-box3{
    display: flex;
    margin-top: -9px;
    margin-bottom: -9px;
    margin-left: -4px;
    margin-right: -4px;
    width: 100%;
    align-items: stretch;
    flex-direction: row;
    cursor: unset;
}
.search-box4{
    border-radius: 0;
    width: 100%;
    height: 100%;
    background-color: #F8F8F8;
    border-color: #E5E5E5;
}
.search-text-icon{
    display: flex;
    height: 38px;
    padding-left: 16px;
    padding-right: 10px;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}
.search-text{
    font-family: 'Noto Sans KR', sans-serif;
    border-width: 0;
    color: #A2A2A2;
    margin: 0;
    width:100%;
    padding: 0;
    outline: none;
    background-color:rgb(248, 248, 248);
    font-size: 0.675rem;
    font-weight: 400;
    line-height: 1.125rem;
}
.search-icon{
    display: block;
    width: 20px;
    height: 20px;
}
.header-right-menu-wrap{
    display: flex;
    margin-left: auto;
    align-items: stretch;
    flex-direction: row;
}
.header-right-menu-wrap1{
    display: flex;
    align-items: stretch;
    flex-direction: row;
    flex-direction: row;
}

.header-right-menu-wrap2{
    display: flex;
    align-items: center;
    flex-direction: row;
}
.header-right-menu-wrap3{
    display: flex;
    align-items: stretch;
    flex-direction: row;
}
.myplogging{
    font-family: 'Noto Sans KR', sans-serif;
    border-width: 0px;
    color: #1A1A1A;
    margin: 0px;
    padding: 0px;
    padding-top: 10px;
    font-size: 0.875rem;
    font-weight: bold;
    line-height: 1.125rem;
    text-decoration-line: none;
}
.empty-space1{
    width: 20px;
    height: 0;
    flex-grow: 0;
    flex-shrink: 0;
}
.loginout{
    /*font-family: 'SDSamliphopangche_Basic';*/
    border-width: 0px;
    color: #1A1A1A;
    margin: 0px;
    padding: 0px;
    padding-top: 10px;
    font-size: 0.875rem;
    font-weight: bold;
    line-height: 1.125rem;

}
.profile{
    display: flex;
    align-items: stretch;
    flex-direction: column;
    position: relative;
}
.profile-img-wrap{
    width: 34px;
    height: 34px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.profile-img{
    background-color: rgb(248, 248, 248);
    border-radius: 50%;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.profile-img1{
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
}