<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>페스워드 변경</title>
    <link rel="stylesheet" href="Pessword.css">
    <link rel="stylesheet" href="header.css">
    <link rel="stylesheet" href="footer.css">
  
 
    </style>
</head>

<form>
                    <header>   <div id="headers"></div></header> 
<!-- Main -->
<div  class="hbody" style="display: contents;">
    <div class="hmain">
        <div class="hinner">
            <div>

                <!-- Elements -->

                <!-- Table -->
                <div class="hinner">
                    <!--                    <h1>PickItUp</h1>-->
                    <div class="hunderline">
                        <p>비밀번호 변경</p>
                    </div>
                    <div class="hinner">
                        <p>새로운 비밀번호를 입력해주세요.</p>
                    </div>

                </div>


                <div class="hmiddlemain">
                    <div class="hinnertext">
                        <p>비밀번호 변경</p>
                    </div>
                    <div class="hinnertext">
                        <input  class="hinputPW" id="ChangePW" type="password" onchange="checkFilled()" placeholder="password">
                        <p class="herror" id="herror1">입력해주세요.</p>
                        <p style="    margin-block-start: 9px;
    margin-block-end: 8px;">비밀번호 변경 확인</p>
                        <input  class="hinputPW" id="ChagePWCheck" type="password" onchange="checkFilled()" placeholder="password">
                        <p class="herror" id="herror2">입력해주세요.</p>

                        <div class="hmiddle">

                            <button type="button" style="cursor: pointer;" class="hemailEnter" onclick="chkPW();">비밀번호 변경</button>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>




</div>


<footer>   <div id="footers"></div></footer>
</form>

</body>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    type="text/javascript">   
$(document).ready( function() {
					$("#headers").load("header.html");  //헤더 인클루드
					$("#footers").load("footer.html");  //푸터부분 인클루드
								}
					);
    function chkPW(){
        
        if($("#ChangePW").val().length < 8){
            alert("8자리이상으로 입력해주세요.");
            return false;
        }else if($("#ChangePW").val() !=$("#ChagePWCheck").val()){
            alert("비밀번호가 일치하지 않습니다.");
            return false;
        }else if($("#ChangePW").val()==$("#ChagePWCheck").val()){
            alert("비밀번호 변경 완료되었습니다.");
            return true;
        }

    }
    function checkFilled(){
        if ($("#ChangePW").val().length < 1){
            $("#herror1").show();
        }
        else{
            $("#herror1").hide();
        }
        if ($("#ChagePWCheck").val().length < 1){
            $("#herror2").show();
        }
        else{
            $("#herror2").hide();
        }
    }
</script>

<!-- Scripts -->
<!-- <script src="password.js"> </script> -->
</html>













