<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <link rel="stylesheet" href="mypage_style.css">
    <title>내 포인트</title>

</head>
<body>
    <div class="mypage-outline">
        <div class="mypage-wrap">
            <aside class="left-side">
                <section class="my-profile">  
                    <div class="user-letter">                        
                        <div class="my-profile-nickname">
                            <p><strong>김아무개</strong></p>
                        </div>
                        <div class="email">                        
                            <div class="my-profile-email">
                                <p><strong>이메일@naver.com</strong></p>
                            </div>
                        </div>
                    </div>                   
                    <div class="my-profile-image">
                        <img src="1361876.png">
                    </div>                    
                </section>
                <hr class="line">
                <section class="user-info-modify">
                    <a class="info-modify" href="#">
                    회원정보 수정</a>
                </section>
                <hr class="line">
                <a class="point-check" href="#">
                    <section class="user-point">
                        <div class="my-point">
                            내 포인트
                        </div>
                        <div class="point-number">
                            0P
                        </div>
                    </section></a>
                    <a class="my-reply" href="#">
                        <section class="reply">
                            내 후기
                        </section></a>
                    <a class="my-QnA" href="#">
                        <section class="QnA">
                            내 문의
                        </section></a>
                <hr class="line">                
                <section class="user-store">
                    내 상품
                    <a class="my-product" href="#">
                        <section class="buy-product">
                            주문 내역
                        </section>
                    </a>
                </section>
            </aside>
            <div class="mypoint-right">
              <section class="my-points">
                  <div class="my-real-point">
                      내 포인트 내역
                  </div>
              </section>
              <section class="my-point-count">
                  <div class="my-now-point">
                      보유한 포인트
                  </div>
                  <div class="my-point-number">
                      200P
                  </div>
              </section>
              <section class="point-use">
                  <div class="point-use-history">
                      포인트 이용 내역
                  </div>
                  <section class="point-use-explain">
                    <table class="myPoint chageTabe">
                            <tr>
                                <th class="point-change-count">포인트 변동</th>
                                <th class="point-change-content">세부내용</th>
                                <th class="point-change-remain">잔여포인트</th>
                                <th class="point-change-date">날짜</th>                                
                            </tr>
                            <tr>
                                <td>-1200P</td>
                                <td>대나무 빨대</td>
                                <td>200P</td>
                                <td>2022-06-02</td>
                            </tr>
                            <tr>
                                <td>+400P</td>
                                <td>클린 어스</td>
                                <td>1400P</td>
                                <td>2022-06-01</td>
                            </tr>
                            <tr>
                                <td>+500P</td>
                                <td>같이 걷기</td>
                                <td>1000P</td>
                                <td>2022-05-25</td>                                
                            </tr>
                            <tr>
                                <td>+500P</td>
                                <td>에코 플로깅</td>
                                <td>500P</td>
                                <td>2022-05-01</td>                                
                            </tr>
                                
                                
                                
                        </table>                        
                    </section>
              </section>
              <section class="point-notice">
                <ul><p>유의사항</p>
                    <li>포인트 적립 및 사용처 변경은 사전 고지 없이 내부 사정에 따라 변경될 수 있습니다.</li>
                    <li>포인트의 유효기간은 포인트의 지급 경로에 따라 다를 수 있습니다.</li>
                    <li>한번 사용하신 포인트에 대해서는 철회가 불가능합니다.</li>
                    <li>계정 정보 이전시에 포인트 이전은 불가능합니다.</li>
              </section>
               
            </div>
        </div>
    </div>

    
</body>
<script src="mypage.js"></script>
</html>