<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="root">
        <div class="wrapper">
            <div class="title-wrapper">
                <div class="title-category">
                    <div class="title-mypage"><a target="_self" class="to_mypage">마이페이지</a></div>
                    <div class="title-divide"></div>
                    <div class="title-productList" aria-disabled="false"><a target="_self" class="to_prodectList">주문 및 배송</a></div>
                </div>
            </div>
            <div class="title"></div>
        </div>
    </div>
    
</body>
</html>