<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/assets/css/header.css" />
    <link rel="stylesheet" href="/assets/css/footer.css" />
    <link rel="stylesheet" href="/assets/css/pickitupStore.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
</head>
<body>

     <!--헤더  -->

     <div th:replace="~{/fix/Header :: HeaderImport}"></div>
   <!--헤더 -->

    <div class="media_store_categories">
       <input type="button" value="전체" class="categories_selected">
       <input type="button" value="생활">
       <input type="button" value="주방">
       <input type="button" value="욕실">
       <input type="button" value="반려동물">
       <input type="button" value="화장품">
       <input type="button" value="식품">
       <input type="button" value="문구">
       <input type="button" value="원예">
    </div>

    <div class="store_all_body">
        <section class="store_container">
            <div class="store_cate_items">
                <div class="store_categories">
                    <ul>
                        <li class="active"><a href="#">전체</a></li>
                        <li><a href="#">생활</a></li>
                        <li><a href="#">주방</a></li>
                        <li><a href="#">욕실</a></li>
                        <li><a href="#">반려동물</a></li>
                        <li><a href="#">화장품</a></li>
                        <li><a href="#">식품</a></li>
                        <li><a href="#">문구</a></li>
                        <li><a href="#">원예</a></li>
                    
                    </ul>
                </div>

                <!-- -----------------------------임시 데이터 --------------------------------->
                <div class="store_items">
                    <div class="onetime">
                        <h4 class="items_header">전체 상품 목록 &nbsp;</h4>
                        <p class="item_headerp">600개</p>
                    </div>
                    <div class="all_items">

                                        <!--  목록 리스트 시작 -->

                        <ul>
                            <li>
                                <div class="item">
                                    <span class="material-symbols-outlined jjim jjim-ajax">
                                        favorite
                                        </span>
                                    <a href="detail.html"><img src="/images/1.jpg">
                                        <div class="flex" style="flex-direction: column; margin: 12px 0;">
                                            <div>
                                                <p class="store_main_item_title">[아시아 종묘] 코코넛 화분</p>
                                            </div>
                                            <div style="margin-top: 6px; height: 16px;">
                                                <p class="store_main_item_category">아시아 화분</p>
                                            </div>
                                                <div><span class="material-symbols-outlined" style="font-size: 12px;">
                                                    favorite
                                                    </span></div>
                                                </div>
                                        <div style="height: 18px;">
                                            <p class="store_item_price">800P</p>
                                        </div>
                                    </a>
                                </div>
                            </li>
                            <li>
                                <div class="item">
                                    <span class="material-symbols-outlined jjim jjim-ajax">
                                        favorite
                                        </span>
                                    <a href="detail.html"><img src="/images/1.jpg">
                                        <div class="flex" style="flex-direction: column; margin: 12px 0;">
                                            <div>
                                                <p class="store_main_item_title">[아시아 종묘] 코코넛 화분</p>
                                            </div>
                                            <div style="margin-top: 6px; height: 16px;">
                                                <p class="store_main_item_category">아시아 화분</p>
                                            </div>
                                                <div><span class="material-symbols-outlined" style="font-size: 12px;">
                                                    favorite
                                                    </span></div>
                                                </div>
                                        <div style="height: 18px;">
                                            <p class="store_item_price">800P</p>
                                        </div>
                                    </a>
                                </div>
                            </li>
                            <li>
                                <div class="item">
                                    <span class="material-symbols-outlined jjim jjim-ajax">
                                        favorite
                                        </span>
                                    <a href="detail.html"><img src="/images/1.jpg">
                                        <div class="flex" style="flex-direction: column; margin: 12px 0;">
                                            <div>
                                                <p class="store_main_item_title">[아시아 종묘] 코코넛 화분</p>
                                            </div>
                                            <div style="margin-top: 6px; height: 16px;">
                                                <p class="store_main_item_category">아시아 화분</p>
                                            </div>
                                                <div><span class="material-symbols-outlined" style="font-size: 12px;">
                                                    favorite
                                                    </span></div>
                                                </div>
                                        <div style="height: 18px;">
                                            <p class="store_item_price">800P</p>
                                        </div>
                                    </a>
                                </div>
                            </li>
                            <li>
                                <div class="item">
                                    <span class="material-symbols-outlined jjim jjim-ajax">
                                        favorite
                                        </span>
                                    <a href="detail.html"><img src="/images/1.jpg">
                                        <div class="flex" style="flex-direction: column; margin: 12px 0;">
                                            <div>
                                                <p class="store_main_item_title">[아시아 종묘] 코코넛 화분</p>
                                            </div>
                                            <div style="margin-top: 6px; height: 16px;">
                                                <p class="store_main_item_category">아시아 화분</p>
                                            </div>
                                                <div><span class="material-symbols-outlined" style="font-size: 12px;">
                                                    favorite
                                                    </span></div>
                                                </div>
                                        <div style="height: 18px;">
                                            <p class="store_item_price">800P</p>
                                        </div>
                                    </a>
                                </div>
                            </li>
                            <li>
                                <div class="item">
                                    <span class="material-symbols-outlined jjim jjim-ajax">
                                        favorite
                                        </span>
                                    <a href="detail.html"><img src="/images/1.jpg">
                                        <div class="flex" style="flex-direction: column; margin: 12px 0;">
                                            <div>
                                                <p class="store_main_item_title">[아시아 종묘] 코코넛 화분</p>
                                            </div>
                                            <div style="margin-top: 6px; height: 16px;">
                                                <p class="store_main_item_category">아시아 화분</p>
                                            </div>
                                                <div><span class="material-symbols-outlined" style="font-size: 12px;">
                                                    favorite
                                                    </span></div>
                                                </div>
                                        <div style="height: 18px;">
                                            <p class="store_item_price">800P</p>
                                        </div>
                                    </a>
                                </div>
                            </li>
                            <li>
                                <div class="item">
                                    <span class="material-symbols-outlined jjim jjim-ajax">
                                        favorite
                                        </span>
                                    <a href="detail.html"><img src="/images/1.jpg">
                                        <div class="flex" style="flex-direction: column; margin: 12px 0;">
                                            <div>
                                                <p class="store_main_item_title">[아시아 종묘] 코코넛 화분</p>
                                            </div>
                                            <div style="margin-top: 6px; height: 16px;">
                                                <p class="store_main_item_category">아시아 화분</p>
                                            </div>
                                                <div><span class="material-symbols-outlined" style="font-size: 12px;">
                                                    favorite
                                                    </span></div>
                                                </div>
                                        <div style="height: 18px;">
                                            <p class="store_item_price">800P</p>
                                        </div>
                                    </a>
                                </div>
                            </li>
                            <li>
                                <div class="item">
                                    <span class="material-symbols-outlined jjim jjim-ajax">
                                        favorite
                                        </span>
                                    <a href="detail.html"><img src="/images/1.jpg">
                                        <div class="flex" style="flex-direction: column; margin: 12px 0;">
                                            <div>
                                                <p class="store_main_item_title">[아시아 종묘] 코코넛 화분</p>
                                            </div>
                                            <div style="margin-top: 6px; height: 16px;">
                                                <p class="store_main_item_category">아시아 화분</p>
                                            </div>
                                                <div><span class="material-symbols-outlined" style="font-size: 12px;">
                                                    favorite
                                                    </span></div>
                                                </div>
                                        <div style="height: 18px;">
                                            <p class="store_item_price">800P</p>
                                        </div>
                                    </a>
                                </div>
                            </li>
                            <li>
                                <div class="item">
                                    <span class="material-symbols-outlined jjim jjim-ajax">
                                        favorite
                                        </span>
                                    <a href="detail.html"><img src="/images/1.jpg">
                                        <div class="flex" style="flex-direction: column; margin: 12px 0;">
                                            <div>
                                                <p class="store_main_item_title">[아시아 종묘] 코코넛 화분</p>
                                            </div>
                                            <div style="margin-top: 6px; height: 16px;">
                                                <p class="store_main_item_category">아시아 화분</p>
                                            </div>
                                                <div><span class="material-symbols-outlined" style="font-size: 12px;">
                                                    favorite
                                                    </span></div>
                                                </div>
                                        <div style="height: 18px;">
                                            <p class="store_item_price">800P</p>
                                        </div>
                                    </a>
                                </div>
                            </li>
                            <li>
                                <div class="item">
                                    <span class="material-symbols-outlined jjim jjim-ajax">
                                        favorite
                                        </span>
                                    <a href="detail.html"><img src="/images/1.jpg">
                                        <div class="flex" style="flex-direction: column; margin: 12px 0;">
                                            <div>
                                                <p class="store_main_item_title">[아시아 종묘] 코코넛 화분</p>
                                            </div>
                                            <div style="margin-top: 6px; height: 16px;">
                                                <p class="store_main_item_category">아시아 화분</p>
                                            </div>
                                                <div><span class="material-symbols-outlined" style="font-size: 12px;">
                                                    favorite
                                                    </span></div>
                                                </div>
                                        <div style="height: 18px;">
                                            <p class="store_item_price">800P</p>
                                        </div>
                                    </a>
                                </div>
                            </li>
                            <li>
                                <div class="item">
                                    <span class="material-symbols-outlined jjim jjim-ajax">
                                        favorite
                                        </span>
                                    <a href="detail.html"><img src="/images/1.jpg">
                                        <div class="flex" style="flex-direction: column; margin: 12px 0;">
                                            <div>
                                                <p class="store_main_item_title">[아시아 종묘] 코코넛 화분</p>
                                            </div>
                                            <div style="margin-top: 6px; height: 16px;">
                                                <p class="store_main_item_category">아시아 화분</p>
                                            </div>
                                                <div><span class="material-symbols-outlined" style="font-size: 12px;">
                                                    favorite
                                                    </span></div>
                                                </div>
                                        <div style="height: 18px;">
                                            <p class="store_item_price">800P</p>
                                        </div>
                                    </a>
                                </div>
                            </li>
                            <li>
                                <div class="item">
                                    <span class="material-symbols-outlined jjim jjim-ajax">
                                        favorite
                                        </span>
                                    <a href="detail.html"><img src="/images/1.jpg">
                                        <div class="flex" style="flex-direction: column; margin: 12px 0;">
                                            <div>
                                                <p class="store_main_item_title">[아시아 종묘] 코코넛 화분</p>
                                            </div>
                                            <div style="margin-top: 6px; height: 16px;">
                                                <p class="store_main_item_category">아시아 화분</p>
                                            </div>
                                                <div><span class="material-symbols-outlined" style="font-size: 12px;">
                                                    favorite
                                                    </span></div>
                                                </div>
                                        <div style="height: 18px;">
                                            <p class="store_item_price">800P</p>
                                        </div>
                                    </a>
                                </div>
                            </li>
                            <li>
                                <div class="item">
                                    <span class="material-symbols-outlined jjim jjim-ajax">
                                        favorite
                                        </span>
                                    <a href="detail.html"><img src="/images/1.jpg">
                                        <div class="flex" style="flex-direction: column; margin: 12px 0;">
                                            <div>
                                                <p class="store_main_item_title">[아시아 종묘] 코코넛 화분</p>
                                            </div>
                                            <div style="margin-top: 6px; height: 16px;">
                                                <p class="store_main_item_category">아시아 화분</p>
                                            </div>
                                                <div><span class="material-symbols-outlined" style="font-size: 12px;">
                                                    favorite
                                                    </span></div>
                                                </div>
                                        <div style="height: 18px;">
                                            <p class="store_item_price">800P</p>
                                        </div>
                                    </a>
                                </div>
                            </li>
                        </ul>
                        <!--  목록 리스트 끝 -->


                    </div>
                </div>
                <div class="gototop">
                    <span class="material-symbols-outlined toTop" style="font-size: 35px;">
                        vertical_align_top
                        </span >
                </div> 
                
            </div>
        </section>
    </div>
    <!-- -----------------------------임시 데이터 --------------------------------->

     <div id="FooterImport"></div>
</body>
<script src="/assets/js/store.js"></script>
<script src="https://code.jquery.com/jquery-3.5.0.js"></script>
<script>
    //scroll top
    $('.toTop').click(function(){
        $('html, body').animate({scrollTop : 0},300);
    });
    //정상웹 일때
    $('.store_categories li').click(function(){
        $('.store_categories li').removeClass('active');
        if($(this).hasClass('active')){
            $(this).removeClass('active');
        }else{
            $(this).addClass('active');
        }
    })

    //반응형 웹
    $('.media_store_categories input').click(function(){
        $('.media_store_categories input').removeClass('categories_selected');
        if($(this).hasClass('categories_selected')){
            $(this).removeClass('categories_selected');
        }else{
            $(this).addClass('categories_selected');
        }
    })

    $('jjim-ajax').click(function(){
        if($(this).hasClass("red")){
            $(this).removeClass("red");
        }else{
            $(this).addClass("red");
        }

        // $.ajax({
        //     url : "", //찜table 연결하는곳
        //     type : "post",
        //     data : "상품데이터",
        //     contentType : "application/json",
        //     dataType : "json",
        //     success : function(){

        //     },
        //     error : function(xhr,status,er){
                
        //     }
        // })
    })
</script>

</html>