<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/assets/css/Header.css" />
    <link rel="stylesheet" href="/assets/css/Footer.css" />
    <link rel="stylesheet" href="/assets/css/pickitupStore.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<style>
    .material-icons {
        font-family: 'Material Icons';
        font-weight: normal;
        font-style: normal;
        font-size: 24px;  /* Preferred icon size */
        display: inline-block;
        line-height: 1;
        text-transform: none;
        letter-spacing: normal;
        word-wrap: normal;
        white-space: nowrap;
        direction: ltr;
        color: red;

        /* Support for all WebKit browsers. */
        -webkit-font-smoothing: antialiased;
        /* Support for Safari and Chrome. */
        text-rendering: optimizeLegibility;

        /* Support for Firefox. */
        -moz-osx-font-smoothing: grayscale;

        /* Support for IE. */
        font-feature-settings: 'liga';
    }
</style>
<body>

<!--헤더  -->

<div th:replace="~{/main/Header :: HeaderImport}"></div>
<!--헤더 -->

<div class="media_store_categories">
    <ul style="display: flex; list-style: none;">
        <li class="active"><a href="" th:value="전체">전체</a></li>
        <li><a href="생활">생활</a></li>
        <li><a href="주방">주방</a></li>
        <li><a href="욕실">욕실</a></li>
        <li><a href="반려동물">반려동물</a></li>
        <li><a href="화장품">화장품</a></li>
        <li><a href="식품">식품</a></li>
        <li><a href="문구">문구</a></li>
        <li><a href="원예">원예</a></li>
    </ul>
</div>

<div class="store_all_body">
    <section class="store_container">
        <div class="store_cate_items">
            <div class="store_categories">
                <ul>
                    <li class="active"><a href="" th:value="전체">전체</a></li>
                    <li><a href="생활">생활</a></li>
                    <li><a href="주방">주방</a></li>
                    <li><a href="욕실">욕실</a></li>
                    <li><a href="반려동물">반려동물</a></li>
                    <li><a href="화장품">화장품</a></li>
                    <li><a href="식품">식품</a></li>
                    <li><a href="문구">문구</a></li>
                    <li><a href="원예">원예</a></li>
                </ul>
            </div>

            <!-- -----------------------------임시 데이터 --------------------------------->
            <div class="store_items">
                <div class="onetime">
                    <h4 class="items_header">전체 상품 목록 &nbsp;</h4>
                    <p class="item_headerp" th:text="|${productsCount} 개|"></p>
                </div>
                <div class="all_items">
                    <ul>
                        <!--                         <li>-->
                        <!--                             <div class="item">-->
                        <!--                                 <span class="material-symbols-outlined jjim jjim-ajax">-->
                        <!--                                     favorite-->
                        <!--                                     </span>-->
                        <!--                                 <a class="goDetail" th:href="*{num}"></a>-->
                        <!--                                 <div class="flex" style="flex-direction: column; margin: 12px 0;">-->
                        <!--                                     <div>-->
                        <!--                                         <p class="store_main_item_title" th:text="*{name}"></p>-->
                        <!--                                     </div>-->
                        <!--                                     <div style="margin-top: 6px; height: 16px;">-->
                        <!--                                         <p class="store_main_item_category" th:text="*{category}"></p>-->
                        <!--                                     </div>-->
                        <!--                                     <div style="display: flex; align-items: end; margin-top: 5px">-->
                        <!--                                                 <span class="material-symbols-outlined" style="font-size: 12px;">-->
                        <!--                                                     favorite-->
                        <!--                                                 </span>-->
                        <!--                                         <small style="font-size: 11px; margin-left: 5px">300..</small>-->
                        <!--                                     </div>-->
                        <!--                                 </div>-->
                        <!--                                 <div style="height: 18px;">-->
                        <!--                                     <p class="store_item_price" th:text="|*{price}P|"></p>-->
                        <!--                                 </div>-->
                        <!--                             </div>-->
                        <!--                         </li>-->
                    </ul>
                </div>
            </div>
            <div class="gototop">
                 <span class="material-symbols-outlined toTop" style="font-size: 35px;">
                     vertical_align_top
                     </span >
            </div>
        </div>
    </section>
</div>
<!-- -----------------------------임시 데이터 --------------------------------->
<div th:replace="~{/main/Footer :: FooterImport}"></div>
</body>
<!--<script src="/assets/js/store.js"></script>-->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script th:inline="javascript">
    const $uploadResult = $(".item ul");

    //찜 ajax
    $('.all_items').on("click",".jjim-ajax",function() {
        if($(this).hasClass("material-symbols-outlined")){
            $(this).removeClass("material-symbols-outlined");
            $(this).addClass("material-icons");
            $(this).css("color","red");

        }else{
            $(this).addClass("material-symbols-outlined");
            $(this).removeClass("material-icons");
            $(this).css("color","#d3cdcd");
        }
    });



    // let productNum = [[${num}]];
    //
    // //scroll top
    $('.gototop').click(function(){
        $('html, body').animate({scrollTop : 0},300);
    });

    //이미지를 눌렀을떄
    $('.all_items ul').on("click", ".goDetail" , function (e) {
        e.preventDefault();
        location.href = "/store/detail?num="+$(this)[0].getAttribute('th:href');
    })


    let category = "";
    showmain(category);
    function showmain(category){
        $.ajax({
            url : "/store/main",
            type: "post",
            data : {category : category},
            success: function (lists) {
                let str = "";
                $(lists).each(function (i, list) {
                    str += "<li>";
                    str += "<div class=\"item\">";
                    // str += "<span class=\"material-icons jjim jjim-ajax\">";
                    // str += "favorite";
                    // str += "</span>";
                    str += "<span class=\"material-symbols-outlined jjim jjim-ajax\" style='color: #d3cdcd; font-weight: bold;'>";
                    str += "favorite";
                    str += "</span>";
                    str += "<a class=\"goDetail\" th:href=\""+list.num+"\" style=\"cursor:pointer\">";
                    (function (i) {
                        $.ajax({
                            url: "/productFile/list/"+list.num,
                            type : "get",
                            async:false,  // ajax 안에 ajax를 사용할때는 동기식으로 바꿔줘야함
                            success : function (files) {
                                // let str = "<img src='/productFile/display?fileName=" + files[0].uploadPath + "/s_" + files[0].uuid + "_"  + files[0].fileName + "'>";
                                str += "<img src='/productFile/display?fileName=" + files[0].uploadPath + "/s_" + files[0].uuid + "_"  + files[0].fileName + "'>";
                                // $("img#"+productNum).attr("src", "/upload/display?fileName=" + files[0].uploadPath + "/s_" + files[0].uuid + "_"  + files[0].fileName )
                            }
                        })
                    })(i);
                    str += "</a>";
                    str += "<div class=\"flex\" style=\"flex-direction: column; margin: 12px 0;\">";
                    str += "<div>";
                    str += "<p class=\"store_main_item_title\">"+list.name+"</p>";
                    str += "</div>";
                    str += "<div style=\"margin-top: 6px; height: 16px;\">";
                    str += "<p class=\"store_main_item_category\">"+list.category+"</p>";
                    str += "</div>";
                    str += "<div style=\"display: flex; align-items: end; margin-top: 5px\">";
                    str += "<span class=\"material-symbols-outlined\" style=\"font-size: 12px;\">";
                    str += "favorite";
                    str += "</span>";
                    str += "<small style=\"font-size: 11px; margin-left: 5px\">300..</small>";
                    str += "</div>";
                    str += "</div>";
                    str += "<div style=\"height: 18px;\">";
                    str += "<p class=\"store_item_price\">"+list.price+"P</p>";
                    str += "</div>";
                    str += "</div>";
                    str += "</li>";
                })
                $('.all_items ul').html(str);
            }
        })
    }


    // 메인 ajax
    $('.store_categories a').click(function (e) {
        e.preventDefault();
        let category = $(this).attr('href');
        showmain(category);
    })
    // 메인 ajax
    $('.media_store_categories a').click(function (e) {
        e.preventDefault();
        let category = $(this).attr('href');
        showmain(category);
    })

    // $('.goDetail').each(function(i, h) {
    //     //메인 사진 받아오기
    //     let productNum=$(this).attr("href");
    //     $.ajax({
    //         url: "/productFile/list/"+productNum,
    //         type : "get",
    //         success : function (files) {
    //             // let str = "<img src='/productFile/display?fileName=" + files[0].uploadPath + "/s_" + files[0].uuid + "_"  + files[0].fileName + "'>";
    //             let str = "<img src='/productFile/display?fileName=" + files[0].uploadPath + "/s_" + files[0].uuid + "_"  + files[0].fileName + "'>";
    //             $(h).html(str);
    //             // $("img#"+productNum).attr("src", "/upload/display?fileName=" + files[0].uploadPath + "/s_" + files[0].uuid + "_"  + files[0].fileName )
    //         }
    //     })
    // })

    //정상웹 일때
    $('.store_categories li').click(function(){
        $('.store_categories li').removeClass('active');
        if($(this).hasClass('active')){
            $(this).removeClass('active');
        }else{
            $(this).addClass('active');
        }
    })
    //
    //반응형 웹
    $('.media_store_categories li').click(function(e){
        $('.media_store_categories li').removeClass('active');
        if($(this).hasClass('active')){
            $(this).removeClass('active');
        }else{
            $(this).addClass('active');
        }
    })







</script>

</html>