<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.pickitup.mapper.user.LatestMapper">
    <select id="getProjectList" resultType="latestVO">
        SELECT NUM, CATEGORY, REGIST_DATE, USER_NUM, PROJECT_NUM, PRODUCT_NUM
        FROM TBL_LATEST
        WHERE USER_NUM = #{userNum} AND CATEGORY = '1'
    </select>

    <select id="getProductList" resultType="latestVO">
        SELECT NUM, CATEGORY, REGIST_DATE, USER_NUM, PROJECT_NUM, PRODUCT_NUM
        FROM TBL_LATEST
        WHERE USER_NUM = #{userNum} AND CATEGORY = '0'
    </select>
</mapper>


















