<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.pickitup.mapper.user.OrderMapper">

    <select id="getList" resultType="orderDTO">

            SELECT RN, ORDERNUM, NICKNAME, EMAIL, PHONE, ADDRESS, PRODUCTNUM, PRODUCTNAME, MANUFACTURER, SUPPLIER, REGIST_DATE, STATUS
            FROM
            (
            SELECT
            ROWNUM RN,TBL_ORDER.NUM AS ORDERNUM,TBL_USER.NICKNAME AS NICKNAME ,TBL_USER.EMAIL AS EMAIL,TBL_USER.PHONE AS PHONE ,TBL_USER.ADDRESS AS ADDRESS,TBL_PRODUCT.NUM AS PRODUCTNUM,TBL_PRODUCT.NAME AS PRODUCTNAME,TBL_PRODUCT.MANUFACTURER  AS  MANUFACTURER,TBL_PRODUCT.SUPPLIER AS SUPPLIER,TBL_ORDER.REGIST_DATE AS REGIST_DATE,TBL_ORDER.STATUS AS STATUS
            FROM TBL_USER,TBL_ORDER,TBL_PRODUCT
            WHERE TBL_ORDER.USER_NUM  = TBL_USER.NUM
            AND TBL_ORDER.PRODUCT_NUM = TBL_PRODUCT.NUM
            <![CDATA[
            AND ROWNUM <= #{pageNum} * #{amount}
            )
            WHERE RN >(#{pageNum} - 1) * #{amount}
            ]]>
            <choose>
                <when test="type == 'orderNum'.toString()">
                    AND ORDERNUM LIKE '%'||#{keyword}||'%'
                </when>
                <when test="type == 'nickname'.toString()">
                    AND NICKNAME LIKE '%'||#{keyword}||'%'
                </when>
                <when test="type == 'email'.toString()">
                    AND EMAIL LIKE '%'||#{keyword}||'%'
                </when>
                <when test="type == 'phone'.toString()">
                    AND PHONE LIKE '%'||#{keyword}||'%'
                </when>
                <when test="type == 'address'.toString()">
                    AND ADDRESS LIKE '%'||#{keyword}||'%'
                </when>
            </choose>
            <choose>
                <when test="type1 == 'productName'.toString()">
                    AND PRODUCTNAME LIKE '%'||#{keyword1}||'%'
                </when>
                <when test="type1 == 'productNum'.toString()">
                    AND PRODUCTNUM LIKE '%'||#{keyword1}||'%'
                </when>
                <when test="type1 == 'manufacturer'.toString()">
                    AND MANUFACTURER LIKE '%'||#{keyword1}||'%'
                </when>
                <when test="type1 == 'supplier'.toString()">
                    AND SUPPLIER LIKE '%'||#{keyword1}||'%'
                </when>
            </choose>
            <choose>
                <when test="startDate != null">
                    AND (REGIST_DATE BETWEEN #{startDate} AND #{endDate})
                </when>
            </choose>
    </select>

    <select id="getTotal" resultType="_int">

        SELECT COUNT(NICKNAME)
        FROM
        (
        SELECT
        ROWNUM RN,TBL_ORDER.NUM AS ORDERNUM,TBL_USER.NICKNAME AS NICKNAME ,TBL_USER.EMAIL AS EMAIL,TBL_USER.PHONE AS PHONE ,TBL_USER.ADDRESS AS ADDRESS,TBL_PRODUCT.NUM AS PRODUCTNUM,TBL_PRODUCT.NAME AS PRODUCTNAME,TBL_PRODUCT.MANUFACTURER  AS  MANUFACTURER,TBL_PRODUCT.SUPPLIER AS SUPPLIER,TBL_ORDER.REGIST_DATE AS REGIST_DATE,TBL_ORDER.STATUS AS STATUS
        FROM TBL_USER,TBL_ORDER,TBL_PRODUCT
        WHERE TBL_ORDER.USER_NUM  = TBL_USER.NUM
        AND TBL_ORDER.PRODUCT_NUM = TBL_PRODUCT.NUM
        <![CDATA[
            AND ROWNUM <= #{pageNum} * #{amount}
            )
            WHERE RN >(#{pageNum} - 1) * #{amount}
            ]]>
        <choose>
            <when test="type == 'orderNum'.toString()">
                AND ORDERNUM LIKE '%'||#{keyword}||'%'
            </when>
            <when test="type == 'nickname'.toString()">
                AND NICKNAME LIKE '%'||#{keyword}||'%'
            </when>
            <when test="type == 'email'.toString()">
                AND EMAIL LIKE '%'||#{keyword}||'%'
            </when>
            <when test="type == 'phone'.toString()">
                AND PHONE LIKE '%'||#{keyword}||'%'
            </when>
            <when test="type == 'address'.toString()">
                AND ADDRESS LIKE '%'||#{keyword}||'%'
            </when>
        </choose>
        <choose>
            <when test="type1 == 'productName'.toString()">
                AND PRODUCTNAME LIKE '%'||#{keyword1}||'%'
            </when>
            <when test="type1 == 'productNum'.toString()">
                AND PRODUCTNUM LIKE '%'||#{keyword1}||'%'
            </when>
            <when test="type1 == 'manufacturer'.toString()">
                AND MANUFACTURER LIKE '%'||#{keyword1}||'%'
            </when>
            <when test="type1 == 'supplier'.toString()">
                AND SUPPLIER LIKE '%'||#{keyword1}||'%'
            </when>
        </choose>
        <choose>
            <when test="startDate != null">
                AND (REGIST_DATE BETWEEN #{startDate} AND #{endDate})
            </when>
        </choose>
    </select>

<!--    <select id="getList" resultType="orderVO">-->
<!--        <![CDATA[-->
<!--            SELECT ROWNUM RN, NUM, TOTAL, COUNTING, REGIST_DATE, PRODUCT_NUM, USER_NUM, STATUS-->
<!--            FROM (-->
<!--            SELECT  /*+ INDEX_DESC(TBL_USER SYS_C007334) */-->
<!--            ROWNUM RN, NUM, TOTAL, COUNTING, REGIST_DATE, PRODUCT_NUM, USER_NUM, STATUS-->
<!--            FROM TBL_ORDER-->
<!--            WHERE ROWNUM <= #{pageNum} * #{amount}-->
<!--            ORDER BY REGIST_DATE DESC-->
<!--            )-->
<!--            WHERE RN >(#{pageNum} - 1) * #{amount}-->
<!--        ]]>-->
<!--    </select>-->


<!--    <select id="getList" resultType="boardVO">
        <![CDATA[
        SELECT BOARD_BNO, BOARD_TITLE, BOARD_CONTENT, BOARD_WRITER, BOARD_REGISTER_DATE, BOARD_UPDATE_DATE
        FROM
        (
            SELECT /*+ INDEX_DESC(TBL_BOARD SYS_C007186) */
            ROWNUM RN, BOARD_BNO, BOARD_TITLE, BOARD_CONTENT, BOARD_WRITER, BOARD_REGISTER_DATE, BOARD_UPDATE_DATE
            FROM TBL_BOARD
            WHERE
        ]]>
            <trim prefix="(" prefixOverrides="OR" suffix=") AND">
                <foreach item="type" collection="types">
                    <trim prefix="OR">
                        <choose>
                            <when test="type == 'T'.toString()">
                                (BOARD_TITLE LIKE '%'||#{keyword}||'%')
                            </when>
                            <when test="type == 'C'.toString()">
                                (BOARD_CONTENT LIKE '%'||#{keyword}||'%')
                            </when>
                            <when test="type == 'W'.toString()">
                                (BOARD_WRITER LIKE '%'||#{keyword}||'%')
                            </when>
                        </choose>
                    </trim>
                </foreach>
            </trim>
        <![CDATA[
            ROWNUM <= #{pageNum} * #{amount}
        )
        WHERE RN > (#{pageNum} - 1) * #{amount}
        ]]>
    </select>-->


    <select id="getDetail" resultType="userVo">
        SELECT  ONUM, TOTAL, COUNTING, OREGISTDATE,USERNUM,PRODUCTNUM PRODUCTNAME, PRODUCTPRICE
        FROM (
        SELECT O.NUM ONUM, O.TOTAL TOTAL, COUNTING COUNTING, O.REGIST_DATE OREGISTDATE, O.USER_NUM USERNUM,O.PRODUCT_NUM PRODUCTNUM, P.NAME PRODUCTNAME, P.PRICE PRODUCTPRICE
            FROM TBL_ORDER O JOIN TBL_PRODUCT P ON O.PRODUCT_NUM=P.NUM
            WHERE USER_NUM =#{userNum}
            )
        WHERE PRODUCTNUM=#{productNum}
    </select>

    <insert id="insert">
        INSERT INTO TBL_ORDER
        (NUM, TOTAL, COUNTING, PRODUCT_NUM, USER_NUM, REGIST_DATE)
        VALUES(SEQ_ORDER.NEXTVAL, #{total}, #{counting}, #{productNum}, #{userNum}, SYSDATE)
    </insert>

    <delete id="delete">
        DELETE FROM TBL_ORDER
        WHERE NUM=#{num}
    </delete>

    <select id="countOrder" resultType="_int">
    SELECT COUNT(NUM)
    FROM TBL_ORDER
    </select>

    <select id="countProductOrder" resultType="_int">
    SELECT COUNT(NUM)
    FROM TBL_ORDER
    WHERE PRODUCT_NUM=#{productNum}
    </select>


    <select id="boughtItem" resultType="orderVO">
        SELECT NUM, TOTAL, COUNTING, REGIST_DATE, PRODUCT_NUM, USER_NUM, STATUS, USER_COMMENT, ADDRESS_COMMENT
        FROM TBL_ORDER
        WHERE USER_NUM = #{userNum} AND STATUS = '1'
    </select>

    <resultMap id="UserVO" type="UserVO">
        <result column="NICKNAME" property="nickname"/>
        <result column="PHONE" property="phone"/>
        <result column="ADDRESS" property="ADDRESS"/>
        <result column="ADDRESS_DETAIL" property="addressDetail"/>
        <result column="POINT" property="point"/>
    </resultMap>
    <resultMap id="ProductVO" type="ProductVO">
        <result column="NAME" property="name"/>
        <result column="PRICE" property="price"/>
    </resultMap>

</mapper>


















