<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.pickitup.mapper.user.UserMapper">


<!--마이페이지, 관리자 사용-->
    <select id="getDetail" resultType="userVO">
        SELECT
        NUM, EMAIL, NICKNAME,PHONE, ADDRESS, PROFILE_FILE_NAME, PROFILE_UPLOAD_PATH, POINT, REGIST_DATE
        FROM TBL_USER
        WHERE NUM=#{num}
    </select>
<!--회원 가입-->
    <insert id="insert">
        INSERT INTO TBL_USER
        (NUM, EMAIL, PASSWORD, NICKNAME, PHONE, ADDRESS,ADDRESS_DETAIL, REGIST_DATE)
        VALUES(SEQ_USER.NEXTVAL,#{email}, #{password}, #{nickname}, #{phone}, #{address},#{addressDetail}, SYSDATE)
    </insert>
<!--회원탈퇴-->
    <delete id="delete">
        DELETE FROM TBL_USER
        WHERE NUM=#{num}
    </delete>

<!--  회원 수정  -->
    <update id="update">
        UPDATE TBL_USER
        SET EMAIL=#{email}, PASSWORD=#{password}, NICKNAME=#{nickname}, PHONE=#{phone},ADDRESS=#{address},
        ADDRESS_DETAIL=#{addressDetail},PROFILE_FILE_NAME=#{profileFileName}, PROFILE_UPLOAD_PATH=#{profileUploadPath}, REGIST_DATE=SYSDATE
        WHERE NUM=#{num}
    </update>

<!--    ROWNUM : SELECT문에서 사용되어지는 가상컬럼이다.-->
<!--    가상컬럼이란 물리적으로 테이블에 저장된 값이 아니라-->
<!--    SELECT문에서 FROM절과 WHERE절에 의해서 해당 데이타가-->
<!--    선별된 직후에 1부터 차례대로 증가하면서 부여된 일시적인 값이다.-->
<!--    - ROWNUM은 1,2,3,....N 값이 부여된다.-->
<!--    - ROWNUM은 일시적으로 할당되는 값이다.-->
<!--    - ROWNUM은 값이 할당되어지는 순서가 있다.-->


    <!-- 사용자가 구매한 상품 목록-->
    <select id="getInProductList" resultType="productVO">
        SELECT prod.NUM, prod.NAME, prod.CONTENT, prod.CATEGORY, prod.PRICE, prod.STOCK, prod.ORIGIN, prod.MANUFACTURER, prod.SUPPLIER, prod.REGIST_DATE, prod.STATUS, prod.JJIM_COUNT
	        FROM TBL_PRODUCT prod
	            INNER JOIN TBL_ORDER ord ON ord.PRODUCT_NUM = prod.NUM
	            INNER JOIN TBL_USER u ON u.NUM = ord.USER_NUM
            WHERE u.NUM = #{userNum}
        ORDER BY ord.NUM DESC
    </select>



    <select id="login" resultType="userVO">

        SELECT NUM, NICKNAME
        FROM TBL_USER
        WHERE EMAIL=#{email} AND PASSWORD=#{password}

    </select>


    <select id="getList"  resultType="userDTO">
    SELECT NICKNAME,EMAIL,REGIST_DATE ,PHONE,ADDRESS
    FROM
    (
        SELECT ROWNUM RN,NICKNAME,EMAIL,REGIST_DATE ,PHONE,ADDRESS
            FROM(
                SELECT
                NUM,NICKNAME,EMAIL,REGIST_DATE ,PHONE,ADDRESS
                FROM TBL_USER
                    <where>
                            <if test="type1 == 'nickname'.toString()">
                                NICKNAME LIKE '%'||#{keyword}||'%'
                            </if>
                            <if test="type1 == 'phone'.toString()">
                                AND PHONE LIKE '%'||#{keyword}||'%'
                            </if>
                            <if test="startDate != null">
                                AND (REGIST_DATE BETWEEN #{startDate} AND #{endDate})
                            </if>
                    </where>


                UNION ALL

                SELECT
                NUM,NICKNAME,EMAIL,REGIST_DATE ,PHONE,ADDRESS
                FROM TBL_COMPANY
                    <where>
                            <if test="type1 == 'nickname'.toString()">
                                NICKNAME LIKE '%'||#{keyword}||'%'
                            </if>
                            <if test="type1 == 'phone'.toString()">
                                AND PHONE LIKE '%'||#{keyword}||'%'
                            </if>
                            <if test="startDate != null">
                                AND (REGIST_DATE BETWEEN #{startDate} AND #{endDate})
                            </if>

                    </where>
            )
        <![CDATA[
        WHERE ROWNUM <= #{pageNum} * #{amount}
    )
    WHERE RN > (#{pageNum} - 1) * #{amount}
        ]]>

    </select>

    <!-- 위 테이블의 총 개수-->
    <select id="getTotal" resultType="_int">
        SELECT SUM(CNT) FROM
        (   SELECT COUNT(*) AS CNT
            FROM TBL_USER
                    <where>
                            <if test="type1 == 'nickname'.toString()">
                                NICKNAME LIKE '%'||#{keyword}||'%'
                            </if>
                            <if test="type1 == 'phone'.toString()">
                                AND PHONE LIKE '%'||#{keyword}||'%'
                            </if>
                            <if test="startDate != null">
                                AND (REGIST_DATE BETWEEN #{startDate} AND #{endDate})
                            </if>
                    </where>
            UNION ALL
            SELECT COUNT(*)
            FROM TBL_COMPANY
                    <where>
                            <if test="type1 == 'nickname'.toString()">
                                NICKNAME LIKE '%'||#{keyword}||'%'
                            </if>
                            <if test="type1 == 'phone'.toString()">
                                AND PHONE LIKE '%'||#{keyword}||'%'
                            </if>
                            <if test="startDate != null">
                                AND (REGIST_DATE BETWEEN #{startDate} AND #{endDate})
                            </if>
                    </where>
        )
    </select>

    <select id="emailMatching" resultType="_int">
        SELECT COUNT(EMAIL)
        FROM
            (SELECT EMAIL
            FROM TBL_USER
            UNION
            SELECT EMAIL
            FROM TBL_COMPANY )
        WHERE EMAIL=#{email}
    </select>



</mapper>


















