<div class style="width:100%">
    <div class= "banner-background">
    <div id="slideShow">
        <ul class="slides">
            <li><img src="poster1.png" ></li>
            <li><img src="poster2.jpg" ></li>
            <li><img src="poster3.jpg" ></li>
            <li><img src="poster4.jpg" ></li>
            <li><img src="poster5.png" ></li>
            <li><img src="poster6.png" ></li>
        </ul>
    </div>
    <div id="myProgress">
        <div style="color:white;">나는 춘식이가 좋아 하지만 춘식이는 날 좋아할까? 난 이런거 하나 하는데 하루가 넘게 걸리는 무능력자 쓰레기야 난 왜살까 이런거 하나 못할거면 개발자로 살 자격이 없는거 아닐까 진짜 모르겠어 난 하지만 프로젝트는 끝을 내야지 망할 난 언제쯤 실력이 늘까 진짜 너무 궁금하지만 이 이상 글을 쓰면 div가 밀려요 ㅠㅜㅜ 실력이 없어슈 ㅠㅠ 그런거니 양해점여 ㅠ</div>
        <div id="myBar"></div>
    
    <p class="controller" style="display:flex;">
        <!-- &lang: 왼쪽 방향 화살표 &rang: 오른쪽 방향 화살표 -->
        <span class="prev"><svg xmlns="http://www.w3.org/2000/svg"  width="24" height="24" fill="none" viewBox="0 0 24 24"><path fill-rule="evenodd"style="fill:rgb(255,255,255);" d="M15.5 5.5l-6 6.5 6 6.5L14 20l-7.5-8L14 4l1.5 1.5z" fill="#1a1a1a"></path></svg></span>
        <span class="next"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24"><path fill-rule="evenodd "style="fill:rgb(255,255,255);"  d="M8.5 18.5l6-6.5-6-6.5L10 4l7.5 8-7.5 8-1.5-1.5z" fill="#1a1a1a"></path></svg></span>
    </p>
    </div>
    </div>
    </div>
    <div class="space-before-main"></div>
    <div class="space-before-main1">
        <button class = "filter-btn" id="filter-btn" value="T">전체</button>
        <button class = "filter-btn" id="filter-btn" value="M">산</button>
        <button class = "filter-btn" id="filter-btn" value="S">바다</button>
        <button class = "filter-btn" id="filter-btn" value="G">평지</button>
    </div>