td{
    width:276px;
    height:350px;
    padding: 10px;
}
img{
    width:100%;
    height:100%;
}
table{
    margin:auto;
    border-collapse: separate;
    border-spacing: 0 40px;
}



.filter-btn{
    height:40px;
    width:80px;
    border-radius:5px;
    font-family: 'SDSamliphopangche_Basic';
    cursor:pointer;
    border:none;
  }
  .plogging-wrapper{
    max-width: 1176px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .plogging-margin{
    margin-top: 72px;
  }
  .hot-plogging-text{
    margin-bottom: 16px;
      display: flex;
      -webkit-box-pack: justify;
      justify-content: space-between;
      align-items: flex-end;
      
  }
  .hot-plogging-text1{
    font-family: 'SDSamliphopangche_Basic';
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
  }
  .hot-plogging-text2{
      font-size: 24px;
      font-weight: bold;
      color: rgb(26, 26, 26);
      line-height: 34px;
      letter-spacing: -0.4px;
      margin-left: 15px;
  }
  
  .plogging-project-container{
    position: relative;
      width: 100%;
  }
  
  .plogging-project-container1{
    overflow: hidden;
    border-radius: 3px;
    margin-bottom: 8px;
  }
  .plogging-project-img-border{
    position: relative;
    border-radius: 3px;
    display: block;
    overflow: hidden;
    font-size: 0px;
    padding-top: 75%;
  background: rgb(238, 238, 238);
  }
  
  .plogging-img-wrap{
      position: relative;
      border-radius: 3px;
      overflow: hidden;
      font-size: 0px;
      padding-top: 75%;
      background: rgb(238, 238, 238);
  }
  
  .plogging-img{
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    position: absolute;
  }
  
  .hot-plogging-text > a{
    text-decoration:none
  }
  
  .plogging-thumbnail-wrap{
    height:207px;
    
  }
  .slides3 > li > .plogging-thumbnail-wrap > img{
    border-radius: 5px;
  }
  
  .slides2 > li > .plogging-thumbnail-wrap > img{
    border-radius: 5px;
  }
  
  .slides1 > li > .plogging-thumbnail-wrap > img{
    border-radius: 5px;
  }
  
  .deadline{
    width:100%;
    background-color:#1F89FF;
    border-radius: 5px;
    margin-top:10px;
  }
  .deadline-text{
    position: absolute;
    margin-top: 4px;
    display:inline;
    color:white;
    font-family:'SDSamliphopangche_Basic';
    margin-left: 5px;
  }
  
  .plogging-location-text{
    font-family:'SDSamliphopangche_Basic';
    padding-top: 5%;
  
  }
  
  .plogging-msg-text{
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: bold;
    margin-top: 5%;
  }
  
  .deadline > img{
    margin-top:5px;
    margin-left:7px;
    margin-right:7px;
  }
  
  .d-day{
    font-family: 'SDSamliphopangche_Basic';
    color:white;
    display:inline;
    float:right;
    margin-right:8px;
    margin-top: 4px;
  }
  .jjims-and-likes{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 4px;
  }
  .last-wrap{
    display: flex;
    align-items: center;
  }
  .heart-icon{
      font-family:'SDSamliphopangche_Basic';
      font-size: 11px;
      line-height: 16px;
      letter-spacing: normal;
      margin: 0px 8px 0px 0px;
      display: flex;
      align-items: center;
      color: rgb(162, 162, 162);
      margin-top: 5px;
  }
  
  .heasrt-svg{
    display: flex;
    align-items: center;
    flex: 0 0 auto;
    height: 12px;
    margin-right: 2px;
  }
  
  .hearts{
    margin-top: 2px;
  }
  .likes-wrap{
    font-family:'SDSamliphopangche_Basic';
      font-size: 11px;
      line-height: 16px;
      letter-spacing: normal;
      margin: 0px 8px 0px 0px;
      display: flex;
      align-items: center;
      color: rgb(162, 162, 162);
      margin-top: 5px;
  }
  .likes{
    margin-bottom: 4px;
  }
  
  .likes-svg{
    display: flex;
    align-items: center;
    flex: 0 0 auto;
    height: 12px;
    margin-right: 2px;
  }
  

