<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/assets/css/header.css"/>
    <link rel="stylesheet" href="/assets/css/footer.css"/>
    <link rel="stylesheet" href="/assets/css/main.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>
<body>
<section class="header-wrap">
    <header class="header">
        <div class="header1">
            <div class="header2">
                <div class="header3">
                    <a href="#">
                        <div class="logo-wrap" >
                            <span class="logo-font">pickitup</span>
                        </div>
                    </a>
                    <div class="empty-space" ></div>
                    <div class="menu-search-wrap" >
                        <div class="menu-wrap" >
                            <a href="#" style="text-decoration-line: none;">
                                <h4 class="menu-plogging" >플로깅</h4>
                            </a>
                            <div class="menu-space"></div>
                            <a href="#" style="text-decoration-line: none;">
                                <h4 class="menu-store">스토어</h4>
                            </a>
                        </div>
                        <div class="empty-space" ></div>
                        <div class="search-box" >
                            <div class="search-box1" >
                                <div class="search-box2" >
                                    <div class="search-box3" >
                                        <div class="search-box4" >
                                            <div class="search-text-icon" >
                                                <input type="text" class="search-text" placeholder="찾으시는 플로깅이 있으신가요?"></input>
                                                <span class="search-icon" >
                                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="css-skwyyj">
                                                        <path d="m22.925 21.16-5.605-5.605A8.453 8.453 0 0 0 19 10.5 8.5 8.5 0 0 0 10.5 2 8.5 8.5 0 0 0 2 10.5a8.5 8.5 0 0 0 8.5 8.5c1.895 0 3.64-.63 5.055-1.68l5.605 5.605c.1.1.255.1.355 0l1.415-1.415a.246.246 0 0 0-.005-.35ZM4.5 10.5c0-3.31 2.69-6 6-6s6 2.69 6 6-2.69 6-6 6-6-2.69-6-6Z" class="css-sy7xp0">
                                                        </path>
                                                    </svg>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="header-right-menu-wrap">
                        <div class="header-right-menu-wrap1" >
                            <div class="header-right-menu-wrap2" >
                                <div class="header-right-menu-wrap3">
                                <a href="#" style="text-decoration-line: none;">
                                    <p class = "myplogging">마이 플로깅</p>
                                </a>
                                    <div class="empty-space1"></div>
                                <a href="#" style="text-decoration-line: none;">
                                    <p class = "loginout">로그인</p>
                                </a>
                                    <div class="empty-space1"></div>
                                <a href="#" style="text-decoration-line: none;">
                                    <p class = "loginout">찜목록</p>
                                </a>
                                    <div class="empty-space1"></div>
                                    <div class="empty-space1"></div>
                                    <div class="empty-space1"></div>
                                    <div class="profile">
                                        <div class="profile-img-wrap">
                                            <div class="profile-img">
                                                <div class="profile-img1">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
</section>
<!--여기까지가 헤더 입니다-->
<div class="contents-wrapper">
    <div class="banner-wrapper">

    </div>
</div>
</body>
</html>

